[2016-09-06 02:55] cuducos opened #1 "Allow URL navigation & permalink to each document"

[2016-09-06 02:55] cuducos opened #2 "Load supplier information based on the CNPJ"

[2016-09-06 03:04] cuducos opened #3 "Change DB to one that supports ~3 million rows"
@lucavgobbi and @pablov suggested Amazon EC2 (free for 12 months). If someone can set up this instance and send in PVT the connection details, I can set this up in the server.

[2016-09-06 12:23] cuducos commented on #3
@lucavgobbi set an instance at EC2 and [Jarbas](http://serenata-jarbas.herokuapp.com) is using it already. **But** (it looks like there's always a but) as the app is running in a different server, importing the datasets to it is taking ages. But it's working… eventually we can import all the records to it. Yay.

[2016-09-06 12:23] #3 closed

[2016-09-06 14:10] cuducos opened #4 "Better `loaddatasets`"
Use argparse optional arguments to limit the number of rows to be imported and to set where to start. E.g. `$ pyhton manage.py loaddatasets --start 200 --import 5000` would load 5k records, skipping the 1st 200 from the datasets.

[2016-09-06 18:16] cuducos opened #5 "Search by CEAP document # is not a good idea…"
… because it looks like `document_id` is not unique 😮

@irio, as this repo emerged from an issue you raised, how would **you** like to search for documents and company info here?

[2016-09-06 18:18] #4 closed

[2016-09-06 18:25] cuducos commented on #5
Just to clarify (and ask for some code review, as I'm a newbie to Pandas):

[code]

[code]

    5880780    8
    5888894    7
    5888126    7
    5895939    7
    5888003    7
    5566496    7
    2444690    7
    5906123    6
    5001425    6
    5883832    6
    5881541    6
    5894465    5
    2455096    5
    5001008    5
    5980516    5
    5883511    5
    5582192    5
    2455061    5

[2016-09-06 18:44] cuducos commented on #5
And, yet, there are tons of records w/o `document_id`:

[code]

[code]

[2016-09-06 20:06] cuducos opened #6 "Load the datasets into our Postgres"
cc @lucavgobbi @pablov

A new `loaddatasets` is online:

[code]
Basically with the optional arguments `--start` and `--limit` we can split the task of loading tons of data to our Postgres. For example, `python manage.py loaddatasets --start 1000 --limit 50` will only create/update the records number 1000 until 1049.

I once estimated we have ~2,7 million records. Running it locally is slower, but

[2016-09-06 20:38] cuducos commented on #6
Running the script from commit e39f75d — gonna keep you updated.

[2016-09-06 21:03] cuducos commented on #6
It takes roughly 7min30 to load 1000 records:

* 10s for Heroku to respond to the `heroku run`
* 6min15 to load 1000 records
* 1min (sleep between one execution and another)

We need approx. 2100 rounds of execution. If I'm not wrong, it is basically 10,5 days.

Not the best strategy ever but at least this is stable.

I can edit the script to start from round _x_ (e.g. say my connection is down af

[2016-09-07 00:33] #1 closed

[2016-09-07 16:33] cuducos commented on #6
I added a line in the footer with the percentage of the dataset loaded. Currently it says _8% of CEAP data loaded_, confirming my estimative of ~10 days to have the full dataset available.

We cannot split this job among various people because Heroku free plan just allow one _dyno_ (one process, to make it simple even if not precise) at a time.

@irio and @cabral: I feel like that 10 days might be

[2016-09-07 16:34] cuducos opened #7 "Check if receipt URL exist before showing the link"

[2016-09-07 22:32] Irio commented on #6
@cuducos Yes, I agree that 10 days may be too much time to have the service working. I'd counter recommend Heroku's database because will probably be much more expensive than plain AWS. Loading the dataset locally and generating a dump sounds a good approach for me.

Anyways, PostgreSQL has a documentation page giving tips on populating databases with keeping performance. Take a look specially on

[2016-09-07 23:49] Irio commented on #5
Returning more than a single document is not a real issue for the current use case, @cuducos. Also, from the existing 101,333 records, just 69 are not unique (source of this calculation at the end of this comment).

If the server accepts filters for `document_id`, `congressperson_id` and `cnpj_cpf` I'm more than happy already.

[code]

[2016-09-08 01:15] #5 closed

[2016-09-08 13:27] cuducos commented on #6
Many thanks, @Irio — from your advice I ended up in [Django's `bulk_insert`](https://docs.djangoproject.com/en/1.10/ref/models/querysets/#bulk-create). Now I'm able to insert 5k at a time (to keep memory usage in _safe_ levels), and this takes roughly 15s. In less than 2h all the dataset will be available at Jarbas.

[2016-09-08 13:27] #6 closed

[2016-09-14 14:37] Irio opened #8 "Show widget of Google Street View"
When accessing a document, would be awesome to also be able to navigate in the street where the expense was made.

Dependent of #2.

[2016-09-14 14:49] cuducos commented on #8
Genius. Definitively added to the TODO list ; )

[2016-09-14 18:07] cuducos opened #9 "Add pagination"
When the API returns more than [25 results](https://github.com/datasciencebr/jarbas/blob/master/jarbas/settings.py#L148), Jarbas should be able to fetch next pages (_Load more_ button in the bottom maybe).

[2016-09-14 20:15] cuducos opened #10 "Jarbas is crashing in Chrome & Firefox"

[2016-09-15 13:01] cuducos commented on #10
Fixed by 3c870c1

[2016-09-15 13:01] #10 closed

[2016-09-15 13:06] cuducos opened #11 "Migrate application & database to the same server"
Currently Jarbas is a slow application for four reasons:

* Loading time is terrible beacuse it is hosted in a free tier at Heroku; this means Heroku might have to wake up the application when user reaches it
* No CDN for assets.static files, all is being served by Heroku (with WhiteNoise)
* Searching is slow because Heroku free tier just allows 10k rows in the database, thus we’re are hosting the

[2016-09-15 13:10] cuducos commented on #11
As far as I can remember, the specifications would be something like that:

* Server with Python 3 and NodeJS
* Postgres (we use more than 2 million rows)
* Git
* nginx

[2016-09-15 22:43] cuducos commented on #11
Almost everything set at our DigitalOcean droplet. I'm having trouble with `/static/` — nginx is returning `403 Forbidden` (e.g. http://45.55.37.68/static/app.css?8706439a).

The [`sites-available/jarbas`](https://github.com/datasciencebr/jarbas/blob/master/bin/jarbas) nginx config reads:

[code]

The file permissions seems right:

[code]

[code]

Any ideas?

[2016-09-16 04:56] cv commented on #11
I'd **strongly** recommend not running stuff as root, or even having these files be owned by root. If there's a security issue somewhere, you're completely hosed.

[2016-09-16 09:43] cuducos commented on #11
Many thanks for the advice of avoiding running as root. As a terrible *devops* I had completely forgotten about this risk. Gonna change that today.

The `chown -R www-data:www-data staticfiles/` hasn't helped though. Gonna explore that later.

[2016-09-16 13:26] cuducos commented on #11
Everything is working at http://45.55.37.68/ now. A short *TODO* list before closing this Issue:

- [ ] Files are owned by another user, not `root`, but processes (`nginx` and `gunicorn`) still ran by `root`: can someone more experienced confirm if this is ok (security-wise) or if is there another way to wire things up?
- [ ] One can deploy with a `git pull` to `jarbas@45.55.37.68:/opt/jarbas.git`

[2016-09-16 13:52] ElSaico commented on #11
- `nginx` should be ran by `www-data`, and it'd be wise to create a separate user for both owning the application folder and running `gunicorn`; `static` should still be accessible by `nginx`, though.
- Only `gunicorn` needs restarting. A possible way to automate it is by make it write a PID file somewhere (option `-p` or `--pid`) and then send it a `SIGHUP` at the end of deployment.

[2016-09-16 14:28] Irio commented on #11
@cuducos I just created http://jarbas.datasciencebr.com/. Should be live soon.

[2016-09-21 19:10] cuducos commented on #11
Closing this issue, as it's live, but gonna move some concerns to a more specific issue in a sec.

[2016-09-21 19:10] #11 closed

[2016-09-21 19:18] cuducos opened #12 "Automate deploy (and, eventually, provision)"
The Digital Ocean droplet was set manually and the only piece of software that makes deploy easier is a [git hook](https://github.com/datasciencebr/jarbas/blob/master/contrib/post-receive). Yet, `nginx` and `gunicorn` processes are owned by `root` — that's not cool.

Something like [Ansible](https://www.ansible.com/application-deployment) might help.

---

Personally I don't have _devops_ know-how

[2016-09-21 20:53] cuducos commented on #7
Just for the record: I was trying to implement this on the front-end, but due to CORS settings at Chamber of Deputies' servers, this is not allowed:

[code]

Thus I'm going for a server-side option.

[2016-09-22 02:43] awerlang opened #13 "Feature request: Data aggregation"
One way to quickly explore huge amounts of data is through data aggregation. For instance, what are all CNPJ/CPFs found in expenses? How deputies spent the most money?

Does this API aims to provide such feature? If you intend to address this in any other fashion, please let me know.

[2016-09-22 12:08] cuducos commented on #13
Hi @awerlang, many thanks for your request and questions ; )

The [_use case_ gave birth to Jarbas](https://github.com/datasciencebr/serenata-de-amor/issues/34) was a simple API to easily share documents found during some data exploration and analysis. With that in mind Jarbas wasn't designed to explore data, but to bring you data of receipts you found while exploring the datasets (presumably with

[2016-09-22 12:40] cuducos opened #14 "API: /api/ is pointing to localhost"
Now it's: `{"document":"http://127.0.0.1:8001/api/document/"}`

It should be: `{"document":"http://jarbas.datasciencebr.com/api/document/"}`

Pagination links also have this bug.

[2016-09-22 14:09] cuducos opened #15 "Add link to variable descriptions"
As proposed by @josircg and discussed [here](https://github.com/datasciencebr/serenata-de-amor/issues/74).

[2016-09-22 18:04] cuducos commented on #7
I just deployed a new command ([`python manage.py receipturls`](https://github.com/datasciencebr/jarbas/blob/master/jarbas/core/management/commands/receipturls.py)) to check each possible receipt URL in the database, test it and save the successful ones back into the database. Once it runs through the whole database I can [merge the front-end](https://github.com/datasciencebr/jarbas/tree/ec-front-

[2016-09-22 18:58] awerlang commented on #13
I have yet to try it out Junyper. Before I'm able to do that, I'll say that this API can keep its current focus. My original question was more about the API being able to crunch numbers than provinding a nice UI for exploring. I do agree we don't need to reinvent the wheel for that.

Also, I should have added it earlier, but anyways, I filled this issue because its more time efficient letting the

[2016-09-22 21:38] cuducos commented on #7
The multiprocess is way faster, but… the production droplet has a single core. I'm running the script locally and gonna dump from my Postgres to production once it is ready.

[2016-09-22 21:58] luiz-simples commented on #12
Velho, posso auxiliar você a montar deploy de ambientes complexos usando Docker.
É possível manipular nginx e outros processos que precisam de root, utilizando containers do Docker.
Sem precisar ter super acesso da VPS na DigitalOcean.

[2016-09-22 22:29] cuducos commented on #12
Great! I have little experience with Docker but with a tutor I guess I can use it properly. When are you available to talk about it?

---

Boa! Eu tenho pouca experiência com Docker, mas com um tutor eu acho que eu consigo usar certinho. Quando tu pode conversar sobre isso?

[2016-09-22 22:39] cuducos commented on #13
Sure, that's what [Anaconda](https://www.continuum.io/anaconda-overview) ([Python](http://python.org), [NumPy](http://www.numpy.org), [Pandas](http://pandas.pydata.org) & cia.) is for : ) They are pretty cleaver in managing datasets — go for it. And [Jupyter Notebooks](http://jupyter.org) are awesome to explore, to analyze and, last but not least, to share your work.

[2016-09-23 14:11] cuducos opened #17 "Add tests for Elm"

[2016-09-23 18:49] #15 closed

[2016-09-24 07:40] #7 closed

[2016-09-24 17:08] #13 closed

[2016-09-25 11:48] leomeloxp commented on #2
Is there an API where this can be pulled from? I'd like to help with #8 but it depends on this being done.

[2016-09-25 11:49] leomeloxp opened #18 "Split front-end (website) and backend (API endpoints)"

[2016-09-25 12:57] cuducos commented on #2
The idea is to use Serenata de Amor's [`data/YYYY-MM-DD-companies.xz`](https://github.com/datasciencebr/serenata-de-amor/blob/master/CONTRIBUTING.md#datasets-data) the same way we use the CEAP datasets (i.e. `data/YYYY-MM-DD-current-year.xz`, `data/YYYY-MM-DD-last-year.xz` and `data/YYYY-MM-DD-previous-years.xz`:

* Add the data structure to `jarbas/core/models.py`
* Create a Django [command](http

[2016-09-25 13:12] cuducos commented on #18
Sorry, but what exactly you mean by that?

Currently Jarbas serves the site at [`/`](http://jarbas.datasciencebr.com/) and serves the API at [`/api/`](http://jarbas.datasciencebr.com/api/).

If you reach `/api/` as a human via browser [Django REST Framework](http://django-rest-framework.org) offers a human user-friendly UI, but if you reach it as a machine, via AJAX, `curl` etc. you get plain JSON

[2016-09-25 14:04] leomeloxp commented on #18
Oh wow, I had created this *issue* without a description. I then typed the whole description and probably forgot to submit/save 😂 Sorry for the totally unclear question 😑

Yeah, I meant breaking Jarbas into 2 (but as you now highlighted 3) repositories to make it easier to maintain.

Following up on your comment, I think it makes more sense to keep it all as a single repo for now, as there're no D

[2016-09-25 14:35] cuducos commented on #18
**1. Split backend & front-end**

Yes, in the future it makes sense. Now I'm afraid just adding nginx configs, shell scripts, instructions and git hooks to `contrib/` will make it a bigger mess — i.e will create technical debt.I really would like to see a proper solution for that. Maybe @luiz-simples can help us with Docker and stuff… and then we can afford a more solid infrastructure for developm

[2016-09-26 16:54] luiz-simples commented on #18
Me passa o seu telefone ou liga pra mim. (48) 8810-8161
A ideia é Dockerrizar o seu projeto e automatizar o deploy via containers, o ideia é o build criar um container com a versão final de produção do seu projeto, seja ele fullstrack ou SPA.
Possível até versionar na nuvem esses containers, facilitando assim rollbacks nos deploys quando necessário.
Abraços.

[2016-09-26 16:59] luiz-simples commented on #12
Me passa o seu telefone ou liga pra mim. (48) 8810-8161
A ideia é Dockerrizar o seu projeto e automatizar o deploy via containers, fazendo o build e criando um container com a versão final de produção do seu projeto, seja ele fullstrack ou SPA.
Possível até versionar na nuvem esses containers, facilitando assim rollbacks nos deploys quando necessário.
Abraços.

[2016-09-26 17:57] cuducos commented on #12
Sure thing — I'm gonna drop you a line at your Gmail.
I've played around with Docker, so I get the idea. I just don't know how to move from the theory to practice.
Anyway, thanks for the help, gonna follow up via email.

[2016-09-26 20:28] cuducos commented on #2
Just a follow up. I'm deploying the [suppliers info to the JSON API](https://github.com/datasciencebr/jarbas#supplier). The UI part is still pending, but I'm gonna implement it soon.

[2016-09-27 17:12] cuducos commented on #2
Currently there's no latitude/longitude info on the API. That's a bug.

[2016-09-29 00:45] cuducos commented on #2
Closed after e0509f7

[2016-09-29 00:45] #2 closed

[2016-09-29 00:46] cuducos commented on #8
#2 is closed/done ; )

[2016-09-29 13:26] vitallan commented on #12
How this one goes? The idea is to create a dockerfile and use travis to build image and deploy the application?

[2016-09-29 14:50] gwmoura commented on #12
@vitalan, I think yes. The ideia is delivery the app in a container, we can any CI service to build a image, save on registry and after deploy the app.

[2016-09-29 14:52] gwmoura commented on #12
@cuducos can I help you too? My Gmail is gwmoura@gmail.com

[2016-09-29 15:58] cuducos commented on #12
Many thanks, @vitallan and @gwmoura for jumping in!

This Tuesday I was in a call with @luiz-simples and he's probably working on a branch to fix this issue.

In baby steps probably we'll start just with Docker for a dev environment to later integrate with CI (Travis is already in use for tests here, so probably we'll stick to Travis) and automate the deploy.

Feel free to talk to @luiz-simples an

[2016-09-29 21:55] ayr-ton commented on #12
@vitallan @gwmoura @cuducos May I help? (:

[2016-09-29 23:49] gwmoura commented on #14
@cuducos you tried this: http://www.django-rest-framework.org/api-guide/schemas/#adding-a-schema?

We can define a schema_url for the API - http://www.django-rest-framework.org/api-guide/schemas/#schema_url

[2016-09-30 11:30] cuducos commented on #14
Tks @gwmoura — `proxy_set_header Host $host;` fixed it ; )

[2016-09-30 11:31] #14 closed

[2016-09-30 11:32] cuducos commented on #12
Looks good to me. I'd love to learn bits of Ansible — it's in my TODO list anyway…

[2016-09-30 11:33] gwmoura commented on #14
😉

[2016-10-03 14:39] cuducos opened #20 "Write tests for commands"
We have two custom Django commands that are untested, both in  `jarbas/core/management/commands/`:
- `loaddatasets.py`
- `loadsuppliers.py`

Maybe a quick way to do it is to mock a CSV responde with a few records, call the command ([check [`test_static_files.py`](https://github.com/datasciencebr/jarbas/blob/master/jarbas/core/tests/test_static_files.py)) and assert records form the mocked CSV is i

[2016-10-04 12:11] pedrommone opened #21 "Add docker image"
Sometime we dont want to install all dependencies and want just run something like `docker run jarbas` and get everything working.

I want code the `Dockerfile` but I want know if is there something particular about the project of if I can make it as usual python application.

[2016-10-04 12:14] cuducos commented on #21
Thanks for the message, @pedrommone — feel free to join this discussion at #12, we're talking about Docker over there.

[2016-10-04 12:14] #21 closed

[2016-10-04 12:15] pedrommone commented on #12
How this architecture must be? Something like `nginx`, `python-cgi` and some database?

[2016-10-04 12:30] pedrommone commented on #12
@luiz-simples you'll need something to orchestrate the containers, main it hard coded is a waste of time.

In my opinion, something like Rancher (hosted) or AWS EC2 (PaaS) is alot better (I can help in both).

[2016-10-04 12:43] cuducos commented on #12
@pedrommone many thanks!

I have almost no experience with Docker, but I'll try to help, please follow up if what I'm saying is non-sense. This install steps (i.e. everything we need to do to get stuff running) is detailed in the `README.md`, so what I imagine is:

* A container to run Python 3 (but I have no idea what `python-cgi` is about), this will run basically Django and `gunicorn`
* A conta

[2016-10-04 13:15] pedrommone commented on #12
@cuducos thanks for the awesome info.

About the DO, is totally fine. I can help you with that and make something working well. As soon I get some time work on the containers.

I will trace the following steps
- [ ] Build the docker images
- [ ] Build the `docker-compose.yml`
- [ ] Build the DO infrastructure with Rancher (personal choice, we use it here.)
- [ ] Build the deploy pipeline and make

[2016-10-04 13:22] cuducos commented on #12
Two minor doubts:

1. As a newbie to Docker world I haven't heard of Rancher before — what problem does it target? I watched the welcome video but probably I miss the limitations of the environment to understand the solution Rancher offers (I mean, in my naïve point of view, `docker-compose.yml` would wire up the infrastructure; so maybe the idea is to simplify deploying to different environments,

[2016-10-04 13:26] pedrommone commented on #12
@cuducos here we go:

1. Rancher let you orchestrate your containers, each `project` is called `stack` and it let you handle everything via API, it just rocks! You can see more (here)[https://github.com/rancher/rancher].
1. The promise of rancher is to separate each process into container, one for `postgress`, one for `nginx`, one for `python`.

[2016-10-04 13:33] pedrommone commented on #12
Here is an exemple of two services

![Rancher Example](http://i.imgur.com/edI2JKg.png)

[2016-10-04 13:34] gwmoura commented on #12
@pedrommone this steps are this same, for me is good option, I don't work with hancher but I listen good opinions :smile:. @luiz-simples is working in create a base image for the project e images for dev and production, when possible looks the branch.

@cuducos

I think better start creating a Docker env for development to help more people to use and contribute with the project and after we split

[2016-10-04 13:37] pedrommone commented on #12
@gwmoura you can easily make everything up with `docker-compose.yml`. In my opinion, make dev and prod environment separately is a waste of time since everything needs to walk together.

[2016-10-04 13:57] gwmoura commented on #12
I think better too, I prefer create everything on docker-compose.yml, as talk in 12factor.net - prod and dev should be the same. @luiz-simples is using docker-compose.yml and created some scripts to help and automate the deploy.

I am a developer, then I don't know if creating a simple container can impact negative in production... we can work together and create a simple and efficient environment

[2016-10-04 14:14] gwmoura commented on #12
@pedrommone I know, you don't need write :smile:. Looks the branch  -  https://github.com/luiz-simples/jarbas/tree/docker-environment and comments what you think we need remove

[2016-10-04 17:05] cuducos opened #22 "Enable HTTPS"
I've never done that — is [letsencrypt.org](https://letsencrypt.org/) a good idea? I feel like I'd like to pair with someone else to get that up and running because all this is new to me.

[2016-10-04 17:30] robjloranger commented on #22
Let's encrypt is a great idea, I'll help if you like. I've never implemented it either but feel confident about it.

[2016-10-04 17:34] cuducos commented on #22
AFAIK we need to get the keys from Let's Encrypt and them config the server… this second part, the server part is where I have no idea where to start. Would you like to get together to tackle this issue? We can set up a pair programming to check what we can get…

[2016-10-04 17:39] robjloranger commented on #22
Do you control the server? Having ssh access is best but we can do it manually if we need to.

[2016-10-04 17:41] cuducos commented on #22
Yep, I have root access to our server (a droplet at Digital Ocean). The nginx config file I'm using [is in the repo](https://github.com/datasciencebr/jarbas/blob/master/contrib/nginx) here for reference (just in case)…

[2016-10-04 17:51] robjloranger commented on #22
Ok, I'm at work ATM. For another 6hrs unfortunately. I can be of more help when I get home. Have you seen the custom instructions here https://certbot.eff.org ?
Select nginx and then your operating system to get a head start.

[2016-10-04 17:57] robjloranger commented on #22
I read over the ones for debian real quick and think after that you will just have auto renewing certificates installed. Then it's just a matter of setting up nginx.

[2016-10-04 18:06] cuducos commented on #22
Many thanks for the reference, @robjloranger! And don't worry about being available, we can talk asynchronously ; )

I read the nginx Certbot docs you sent and that clarified a bit… but I still have doubts when they say `$ letsencrypt certonly --webroot -w /var/www/example -d example.com -d www.example.com -w /var/www/thing -d thing.is -d m.thing.is`.

How does that work when nginx is used as a pr

[2016-10-04 18:19] pedrommone commented on #22
LetsEncrypt its a awesome option but CloudFlare is not enought?

[2016-10-04 18:22] cuducos commented on #22
I don't know the difference between encrypting stuff via Let's Encrypt and CloudFare (and TBH I just know CloudFare because of their CDN service).

My concern here is that people can browse documents from Brazilian government behind a HTTPS protocol to keep their privacy. This is what really matters.

[2016-10-04 18:25] pedrommone commented on #22
@cuducos if you want to enable end-to-end HTTPS you need to enable it directly into server's nginx and its can be done with #12 when we deploy the new infra.

Anyway, I think CloudFlare is a good option to hide the servers location in case of DDoS.

[2016-10-04 18:30] cuducos commented on #22
That's important too. Do they offer this for free?

Awesome, gonna wait for #12 then!

[2016-10-04 18:48] pedrommone commented on #22
Yep, they offer it on free but if you apply as an ONG we should get the *ultimate master blaster hyper* plan for free.

[2016-10-04 18:51] cuducos commented on #22
Great, gonna get started then!

[2016-10-04 20:57] leomeloxp commented on #22
Just a quick note on this. On #18 I started a discussion about splitting the front-end and backend of Jarbas into (potentially) their own repository. @cuducos agreed to discuss that further after other issues on the repo got sorted (specially #12 ). If we were to host the front-end on Firebase, they give HTTPS free by default.

I'm not able to help much with the backend though, as all I ever did w

[2016-10-04 22:13] cuducos commented on #22
Many thanks @leomeloxp.

We got free droplets as a kind of sponsorship from Digital Ocean, so we're sticking with them.

Yay! I like that. As @pedrommone pointed out probably this issue is strictly related to #12, so I'll wait for it before spending time studying how to config nginx for HTTPS. But let's get back to that in a week maybe ; )

[2016-10-04 22:42] pedrommone commented on #12
@cuducos witch `python` and `django` version we are using?

[2016-10-04 22:52] robjloranger commented on #22
@cuducos let me know when you get there, I'll be happy to help

[2016-10-04 22:53] cuducos commented on #12
Python 3.5.2, Django is the latest version (1.10.something specified at `requirements-dev.txt`)

[2016-10-04 23:01] gwmoura commented on #22
How Shared SSL Certificate for Cloud Flare Works? He delivery a domain like: someone.cloudflare.com or we can config mydomain.com to use https?

[2016-10-04 23:39] luiz-simples commented on #22
the only downside of letsencrypt, is that it does not support wildcards.
It supports unlimited number of domains and sub-domains.
But the sub-domains can not be dynamics.

[2016-10-04 23:48] pedrommone commented on #22
@gwmoura they offer a full and customized SSL for you domain :)

[2016-10-04 23:51] gwmoura commented on #22
excellent @pedrommone, I gonna test the service :smile:

[2016-10-05 00:12] pedrommone opened #24 "Add .editorconfig file"
In order to keep everything fine for everyone we need add this beauty piece of setting.

[2016-10-05 00:12] pedrommone commented on #24
I'll work on that.

[2016-10-05 15:38] cuducos commented on #24
Personally I don't think `.editorconfig` is of any help in this project.

Most of the code (56.6%) is Python. Python already has a very strict and embraced code style, [pycodestyle](https://pypi.python.org/pypi/pycodestyle) (former [PEP-8](https://www.python.org/dev/peps/pep-0008/)) — and the check for this style [is already in our continuous integration](https://github.com/datasciencebr/jarbas/bl

[2016-10-05 15:48] pedrommone commented on #24
For me is just a good practice since I handle a lot of different languages everyday.

[2016-10-05 16:08] DennyLoko commented on #24
@cuducos I totally agree with you thinking of a person which is already used to code in this languages. It's simply natural for them to follow those standards.

But when a person who just want to help to solve some little bug, and is not used to code in this languages, the `.editorconfig` file helps stick to this patterns without even knowing about them or download a tool.

What I would suggest to

[2016-10-05 16:35] cuducos commented on #24
Thanks for the opinion @DennyLoko — let's enhance that PR and merge it ; )

@pedrommone I've never wrote a `.editorconfig` in my whole life, but if tried to add some suggestions in the PR already.

[2016-10-07 05:48] #9 closed

[2016-10-07 13:46] #24 closed

[2016-10-10 15:20] NicolasFrancaX commented on #17
You already have a idea of a test suite we can use?

[2016-10-10 16:06] cuducos commented on #17
I'd suggest [elm-test](https://github.com/elm-community/elm-test) — I have a simple working example (including integration with Travis CI) at [Cunha já caiu?](https://github.com/cuducos/cunhajacaiu) if it helps. We can pair on that too.

[2016-10-19 09:21] paulohp commented on #17
Is there anyone working on this? I want to help. @cuducos @NicolasFrancaX

[2016-10-19 09:52] cuducos commented on #17
AFAIK no one, @paulohp…

[2016-10-19 11:59] paulohp commented on #17
grabbing it then 😃

[2016-10-19 13:14] cuducos commented on #17
Many thanks, Paulo!

Next week I might be available for pair programming, but don't hesitate to drop a line here if you have any doubt about the code and architecture ; )

[2016-10-19 19:02] paulohp commented on #17
No Problem @cuducos

I'm trying to setup the project  locally but I'm getting some errors.

1) Which python version are you using? I got some errors with lzma and I solved with https://github.com/peterjc/backports.lzma. My Python version = 3.5.2

2) I'm getting 404 on "GET /static/app.js?e66b0de8 HTTP/1.1" and blank screen on localhost:8000

Is there anything else to do besides the documentation o

[2016-10-19 19:13] cuducos commented on #17
Hi @paulohp… I'm sorry about that.

1. **`lzma`**: I found out about this issue in Linux yesterday (cc @andrepinho @filipelinhares) and haven't had time to properly explore and document it yet; anyway the thing is that when you compile your Python you must have `lzma` library available in your system. I'd say that it wasn't `backports.lzma` that fixed your issue, but the `apt-get install liblzma-d

[2016-10-19 19:22] cuducos commented on #17
Regarding the issue with the static files: what's the output for `which elm-make`?

If `elm-make` is not available in your path, set [`ELM_MAKE_BIN`](https://github.com/cuducos/webassets-elm#requirements) environment to where `elm-make` binary is (probably `node_modules/.bin/elm-make` if you installed Elm locally).

[2016-10-19 19:35] cuducos commented on #17
I created a brach to keep track of this issues, once I can confirm the instructions are correct I merge it to master — you all feel free to contribute: https://github.com/datasciencebr/jarbas/tree/install-instructions#requirements

[2016-10-19 20:07] paulohp commented on #17
Hi @cuducos, no problem!

1) I solved `lzma`, it's not a problem anymore 😃
2) I just set `DEBUG=true` and it's just working fine 👍

[code]

[2016-10-20 17:28] ayr-ton commented on #12
Now that the Dockerfile was built, the next step is to create the Ansible role (or something similar to ansible) to automatically make the provision of the droplet? Does this correct?

[2016-10-20 19:52] cuducos commented on #12
I must say I'm kind of lost here. I guess @pedrommone got stuck at [the issue with the CI services](https://github.com/datasciencebr/jarbas/pull/23#issuecomment-252903588) — but honestly I could not understand this part because my knowledge on Docker environment is null.

As my idea was to have a working `Dockerfile` and `docker-compose.yml` locally I got that having Elm (NodeJS) being called from

[2016-10-21 15:46] Leeaandrob opened #28 "Applying good patterns to project layout"
So, in many projects that I have seen the utilized structure is:

![captura de tela 2016-10-21 as 13 41 16](https://cloud.githubusercontent.com/assets/5758136/19604514/63285f2e-9794-11e6-9fa5-fe93cca05367.png)

Maybe this could to be a issue to fix it?

[2016-10-24 18:13] pedrommone commented on #12
@cuducos dont worrry :).

I've stuck into dependencies, we cannot have nodejs and python on the same image -- thats not the Docker goal --. When I get some time I'll work on that.

[2016-10-25 18:14] henriquebastos commented on #28
The core rationale of what I do is:

1. The repository directory is the root of all things and contains many
things: the code, docs, utilities, contrib, etc.

2. The django project directory should be one single Python package with
all it's subpackages, submodules, and assets. It should be on the root
repository directory.

3. I follow most of the unix project layout for the surroundings: doc, man

[2016-10-25 18:56] henriquebastos commented on #28
Also I just noted the cookie cutter layout separates config from project
code.

For me, personally, this is a critical no go.

There should be only 1 settings.py supporting many instances.

Django mixes project settings with instance settings. However with
python-decouple one can easily extract instance settings to environment
variables.

The main goal is to keep one concise tested codebase that c

[2016-10-26 15:30] cuducos commented on #28
Many many thanks, @henriquebastos!

In fact your explanation made it clear for me: we have a lot of good reasons to argue for this architecture.

Personally this is my favorite — and now I understand why.

[2016-10-26 15:46] henriquebastos commented on #28
Anytime, dear friend! :)

[2016-11-01 18:25] jhonthan opened #34 "Session freezing"
Ao efetuar uma consulta por partido por exemplo, ao navegar pelas páginas a consulta congela, impossibilitando navegar nas páginas, nem mesmo o menu ao lado funciona, sendo necessário limpar a URL e começar novamente, que novamente congela entre 3-4 consulta.

[2016-11-01 20:01] cuducos commented on #34
@jhonthan can you share the URL where you are getting freezing status?

[2016-11-01 20:05] jhonthan commented on #34
@cuducos jarbas.datasciencebr.com/#/page/4/party/PR
Consigo ir somente até a página 4.

[2016-11-01 20:16] cuducos commented on #34
Yuck! That's a 🐛

I see it on the console already:

[code]

Actually I left this case marked as `Debug.crash` to fix it later, but I haven't got back to it. Gonna fix soon. Thanks for the heads up 👍

[2016-11-01 20:39] #34 closed

[2016-11-01 20:41] cuducos commented on #34
Hey @jhonthan — can you confirm it's working now?

[2016-11-01 20:44] jhonthan commented on #34
@cuducos Sim, está funcionado :+1:

[2016-11-01 20:48] cuducos commented on #34
Yay 🎉

[2016-11-05 14:04] rougeth opened #35 "Suplier endpoint returning 404 when CNPJ not found"
Example: http://jarbas.datasciencebr.com/api/suplier/02012862000160

[2016-11-05 14:06] rougeth commented on #35
Ops, typo on the endpoint.

[2016-11-05 14:06] #35 closed

[2016-11-05 18:35] #8 closed

[2016-11-05 18:36] cuducos commented on #8
Thanks @igorrozani ; )

[2016-11-05 22:19] cuducos opened #37 "Make State search field case unsentive"

[2016-11-05 23:55] cuducos commented on #37
Closed by aff2e24

[2016-11-05 23:55] #37 closed

[2016-11-07 19:18] cuducos commented on #20
Closed by d500755

[2016-11-07 19:18] #20 closed

[2016-11-08 17:44] gomex commented on #12
Hey!

I wanna help too!  I know a little bit about docker and ansible. I will study the infra of datasciencebr.

IMHO we don't need to think about rancher or something like that yet.  We can use some service to provide this infra for us: https://hyper.sh/ (for example! I didn't tested yet!).

[2016-11-08 17:52] cuducos commented on #12
Hi @gomex — I was about to read you book to try to fix that haha… well I'm gonna read it anyway. The point is that here we do not necessarily need Docker, although I'm pretty sure Docker could help.

I'm mostly a developer, and I'm pretty much familiar with Jarbas — count on me if you have any doubt about the stack (BTW taking about Docker it might be interesting to use the `extract-nodejs` branch

[2016-11-08 22:43] gomex commented on #12
@cuducos first thing, is possible pass the username and password for this command?

[code]

Can we specify it using environment variable?

[2016-11-09 09:32] cuducos commented on #12
Hi @gomex — basically we can skip that. It's optional and we don't have a lot of heavy stuff to do on Django Admin. People who would use it will find their way to do it. Yet [there's no way to pass the password](https://docs.djangoproject.com/en/1.10/ref/django-admin/#createsuperuser) (the best we can do is set a super user without password with `--noinput` — which I wouldn't recommend, too unsafe

[2016-11-09 14:16] gomex commented on #12
I am trying to use SQLite to avoid Postgres configuration for now and I got this error:

[code]
I tried to add USE_TZ=True inside .env and didn't change that error :(

[2016-11-09 15:10] cuducos commented on #12
I'm sorry about that. Uncaught error probably. Gonna take a look later
today and update you here.
On Wed, 9 Nov 2016 at 12:16 Rafael Gomes <notifications@github.com> wrote:

[2016-11-09 15:16] gomex commented on #12
You can check using my Dockerfile on that repos:

https://github.com/gomex/jarbas

You can reproduce using this command:

[code]

Thanks!

[2016-11-09 17:24] cuducos commented on #12
Hi @gomex,  bug caught and squashed in 17d1f7f (within `extract-nodejs` branch)— I tested it here with SQLite and it seems do be working.

[2016-11-09 19:09] gomex commented on #12
Is there any way to build a "small" version of this data? When I try "python manage.py loaddatasets" and "python manage.py loadsuppliers" It takes too long.

[2016-11-09 19:12] cuducos commented on #12
Not in in a seamless way. You (I mean, I can create and share you) a small a small version of the datasets and you save it locally. Once it's there you call these commands with `--source path/to/small?verions/directory` — does that work?

[2016-11-09 19:32] gomex commented on #12
@cuducos let's try :)

[2016-11-09 19:37] cuducos commented on #12
Here it is: download the files and point both scripts to this folder with `-s` https://www.dropbox.com/sh/cxuizj33rhb4c1n/AAAoT0qk0GGO1Fef-bf2Jj0aa?dl=0

[2016-11-09 21:15] gomex commented on #12
I tried that command:
[code]

I got this error:

[code]

[2016-11-10 18:47] cuducos commented on #12
I'm sorry about that, @gomex. I couldn't get back to you earlier.

Anyway I was pondering here: these commands are basically a step of provision, of seeding the database. To test if the environment is set properly and if the app is working you can just skip them and run the tests (`$ python manage.py test`). If they pass and the equivalent of `http://localhost` gives you a `HTTP 200` I guess you'r

[2016-11-10 20:20] cuducos commented on #12
@gomex, a few comments after testing your `Dockerfile` — probably newbie doubts, but anyway:

* this branch (`extract-nodejs`) compiles Elm files (to `.js`) outside Django, thus instead of `$ python manage.py assets build` we need a `$ npm run assets` — and this might need a different container I guess (but all in all, if we go back to `master` and use `$ python manage.py assets build` Django will

[2016-11-10 20:48] cuducos commented on #12
I forgot: we need the `--noinput` argument to make `collectstatic` override user input (i.e. `$ python manage.py collectstatic --noinput`)

[2016-11-11 01:34] gomex commented on #12
@cuducos about your questions:
[code]
I was trying to start from Python, but the ideia is use another image to build this elm assets. The proposal is build inside onde specific folder that should be mount as volume in python container too.

Python container will access that folder and can see elm assets there.

Python container will show me something without elm assets?  if not, what folders shoul

[2016-11-11 03:32] gomex commented on #12
Hey @cuducos

I commented this commands:

#RUN python manage.py loaddatasets --source ./datasets
#RUN python manage.py loadsuppliers
#RUN python manage.py ceapdatasets
#RUN python manage.py assets build
#RUN python manage.py collectstatic

And try to run "python manage.py test" and I got this error:

[code]

[2016-11-11 11:52] cuducos commented on #12
Indeed. When we changed `USE_TZ` to `True` that started to happen. Fixed in 67069d7. I'm fully available today, @gomex — if you want to pair to speed things up, I'm up to ; )

Addressing your questions (let me know if accidentally I leave any of them behind):

Running the app without the NodeJS part will not show anything in the browser except the proper title (i.e. `<title>Jarbas | Serenata de Am

[2016-11-11 15:15] gomex commented on #12
@cuducos we can pair, but I am hospitalized now. I will do a surgery on my collarbone today. Can we try to do that in few days?

Thanks!

[2016-11-11 15:18] gomex commented on #12
About your questions:

[code]

You need to update before install:

[code]

Try that!

[2016-11-11 15:43] cuducos commented on #12
OMG I had no clue you were in the hospital. No worries, mate! I'm going through a surgery later this month too. Get well and we talk later ; )

However, let me tell you the good news:

[code]

Yay 🎉

Here it is the `Dockerfile` I used:

[code]

[2016-11-11 15:53] gomex commented on #12
@cuducos yeah!!!!

Now we need to configure the gunicorn, right?

How can I open the app and see this title?

[2016-11-15 18:19] gwmoura commented on #12
Guys testing the Dockerfile pasted here, I received 2 errors, because the elm: `FileNotFoundError: [Errno 2] No such file or directory: 'elm-make'`

I added more commands on Dockerfile to install elm-make

#### My Dockerfile
[code]
#### Running the tests:
[code]

[2016-11-15 18:30] cuducos commented on #12
@gomex Good to hear from you! Are you recovering well? I really hope so! Starting the app is done with commands such as `gunicorn jarbas.wsgi:application --reload --bind 127.0.0.1:8001 --workers 4` within the repo root directory (and if that's the case, within the project virtualenv). If it's working the app would be available at [127.0.0.1:8001](http://127.0.0.1:8001).

@gwmoura The erros are the

[2016-11-15 22:47] gwmoura commented on #12
@cuducos it's the my case, I gonna change my branch and test once more.
Thanks and sorry 😅

[2016-11-15 23:30] gomex commented on #12
Hey @cuducos

I am trying to build the elm assets and static files.

"python manage.py assets build" and "python manage.py collectstatic" are enough or should I do something else? Where are these files?

[2016-11-16 00:37] cuducos commented on #12
Hi @gomex,

The commands are a little bit different in `extract-nodejs` branch.

`npm run assets` should be run in a container with the NodeJS (the one in which we ran `npm install` previously). This is supposed to create the file `jarbas/frontend/static/app.js` (but I'm not sure how to orchestrate something like that with Docker containers).

`python manage.py collectstatic` should be run in the

[2016-11-16 14:03] gwmoura commented on #12
@cuducos @gomex  using a container for NodeJS and running `npm run assets` a error is showed.

repo: https://github.com/gwmoura/jarbas/tree/extract-nodejs

Dockerfile used for create a nodejs container:
[code]

The error after execute the container with the command `npm run assets`
[code]

[2016-11-16 14:20] cuducos commented on #12
Hi @gwmoura.

I just tested with a `Dockerfile` slightly different form yours and it worked:

[code]

It raised no error and created the expected `app.js` file:

[code]

I ran it in the `extract-nodejs`. If this still failing we can pair to troubleshoot together…

[2016-11-16 14:56] gwmoura commented on #12
@cuducos your Dockerfile not work for me :(, before build the container you deleted the file app.js?

[code]

[2016-11-16 15:19] gwmoura commented on #12
@cuducos @gomex I needed install elm globally `npm install -g elm`

[code]

[2016-11-16 17:03] cuducos commented on #12
Yep, you're right: I haven't deleted the `app.js`… it wasn't working. My bad.

Good that it fixed, @gwmoura , but it shouldn't be that way. I have to explore the issue deeper I guess. Here are my concerns:

* Elm should be installed by `npm install` (that reads `packages.json`) to mae sure we're using the right version of Elm (e.g. if we install Elm 0.16 or Elm 0.18 the `elm-make` will fail).
* We

[2016-11-16 17:28] gwmoura commented on #12
@cuducos, @gomex and I are working on it, we found the solution.

[2016-11-16 19:28] gomex commented on #12
I created 2 docker image, one for python and another onde to node (It is hard/right? way, but let's try it)

https://github.com/gomex/jarbas

To reproduce, use these commands:

[code]

The first command will build the assets
The second will copy the entire jarbas folder to /assets folder (this folder was configured to be accessible from another container)
The third command will run this:
[code]

B

[2016-11-16 22:35] gwmoura commented on #12
@gomex the route `/` is blank, but `/api` has content.

Guys, I rewrote the  commit of the @gomex and adapted to stay more easy to develop.
I updated the `Dockerfile`, `Dockerfile-elm` and added a `docker-compose.yaml`.
@cuducos I added a new line in urls.py to serve static files only in development.

My changes are here: https://github.com/gwmoura/jarbas/commit/c30fb061a2a58837abd55dab37b466d1584

[2016-11-17 00:52] gomex commented on #12
@gwmoura why did you removed postgres installation? I guess it is needed.

In the elm image,

"RUN mkdir /code" it is not necessary.

If you don't copy the code to elm image on the build, you should just run the npm -i after start the container, because node_modules folder won't present on container, it is because when you mount on /code folder, that content created by image on that folder will be

[2016-11-17 01:00] cuducos commented on #12
This is probably because Django is not prepared to serve static files. Just added that in 23cc355 (temporary). Also did some minor changes in the `Dockerfile` ( 040687b and 2db9a25). It worked here, can you confirm that was the case? I'm sleepy and I might have overlooked some step unintentionally…

[2016-11-17 02:30] gomex commented on #12
@cuducos I tested here... Still blank :(

[2016-11-17 13:43] gwmoura commented on #12
@gomex

* You tested the route `/api`? On the home page, is still blank, because the template home - `jarbas/frontend/templates/frontend/home.html` no has content inside body tag, has only a js scripts

* I removed the postgres, because sqlite was defined as default database in development env - https://github.com/datasciencebr/jarbas/pull/47

[2016-11-17 13:54] cuducos commented on #12
@gomex and I just paired for a while. The code in `extract-nodejs` worked here (`/static/app.js` returned `200` so the page is not blank anymore). We drafted todo list and described the pipeline we have in mind:

TODO:

- [ ] Setup nginx
- [ ] Setup PostgreSQL
- [ ]  Setup timezone within the container

Pipeline:

1. Build jarbas-elm
2. Run jarbas-elm (generate jarbas/frontend/static/app.js)
3. Bu

[2016-11-17 13:59] gwmoura commented on #12
@gomex @cuducos, I has some updates (https://github.com/gwmoura/jarbas/commit/449afa4deb728c4e3b92130dea7da69b0a8b9528), based in what @gomex talked.

On my commits has:

1. Build jarbas-elm - `service elm on docker-compose.yaml`
2. Run jarbas-elm (generate jarbas/frontend/static/app.js) - `docker-compose run --rm elm`

[2016-11-17 14:22] cuducos commented on #12
Tks @gwmoura — I'm not sure how's the best way to integrate that, so I'll leave it to you and @gomex — fell free to send PRs to `extract-nodejs` (should I rename it as `docker`?) and I'll merge it quickly ; )

[2016-11-17 22:53] gomex commented on #12
I made some changes and applied on that PR: https://github.com/datasciencebr/jarbas/pull/48/files

[2016-11-18 15:00] gwmoura commented on #12
@cuducos @gomex the PR #48 is working fine for me :smile:
@cuducos we can work on `extract-nodejs`, no problems.

[2016-11-18 21:40] cuducos commented on #12
Many thanks @gomes and @gwmoura! Great PR!

I merged it to `extract-nodejs` but thinking ahead I'd like to raise three questions concerning this PR:

* While developing having control of the _envvars_ is very important: which is the way to do it with this Docker setup (without end up adding them to `docker-compose.yml` or `Dockerfile` and accidentally committing them)?
* I usually avoid `Makefile`

[2016-11-18 23:36] gwmoura commented on #12
@cuducos how do you ran? You ran using `docker-compose up -d`?

We can configure the `docker-compose.yaml` to use the host's ENV vars

The Makefile is a shortcut to docker-compose commands, Windows users can run docker-compose commands or maybe we can write a `.bat` script

@gomex What do you think?

[2016-11-21 00:48] gomex commented on #12
Hey @cuducos

Can you please tell me how can I reproduce that? Did you use make or just docker-compose?

[2016-11-21 03:24] gomex commented on #12
Hey @cuducos I found the problem and solved on that PR: https://github.com/datasciencebr/jarbas/pull/49

[2016-11-21 03:50] gomex commented on #12
We copy entire code from your folder, your .env file will be transfered to docker image too.

You are right. We can remove Makefile and just user docker-compose commands :(

I already fixed this problem: https://github.com/datasciencebr/jarbas/pull/49

[2016-11-21 12:30] gomex commented on #22
Cloud Flare is non Tor friendly :(

[2016-11-23 21:13] cuducos commented on #12
Many thanks, @gomex!

Got it about teh _envvars_, tks. I'm testing the PR and probably gonna merge it soon. About the `Makefile` we can keep it there, but change the docs: we prioritize whatever works for everyone (and maybe in a parenthesis we say something as _we have a `Makefile` to make all that simpler if you like_) — my focus is on keeping the focus of the documentation on the instructions t

[2016-11-24 01:11] gabisurita opened #51 "Allow more results per page"
It's is a bit limiting  providing only 10 results per page. I think it would be useful to allow something like:

[code]

What do you think?

[2016-11-24 08:32] cuducos commented on #51
Hi @gabisurita,

Jarbas was created as a tool to visually analyze data from reimbursements found in Serenata de Amor project — it was not suppose to be a tool for browsing or getting tons of data. I understand people might do it, but that was not the initial purpose of this GUI. That said, throwing 100 reimbursements in the screen wasn't a use case scenario. People would get here knowing exactly w

[2016-11-24 08:42] cuducos commented on #51
I must add: If you're just looking for data, I think Serenata de Amor's datasets are the best way to get it. Beautifully compressed CSV are downloaded in the setup of the project (but you can guess the direct download URL from [here](https://github.com/datasciencebr/serenata-de-amor/blob/master/src/fetch_datasets.py)). It would be easier and quicker to get all data, and would save Jarbas resources

[2016-11-24 10:14] cuducos commented on #22
I think CloudFlare was on the table just as a measure to protect ourselves from DDoS as raised by @pedrommone. I wasn't aware CloudFlare wasn't Tor friendly. But to be honest we might be too much worried with things that might happen, or might not happen (DDoS). I think privacy is a must (then HTTPS) and that Tor might help with privacy. So if I had to choose I'd leave the DDoS shield for later.

[2016-11-24 18:44] danizavtz commented on #22
hello @cuducos i would like to help, i configured a https with a self signed certificate in my cloud service.
I too aplied to a  letsencrypt.org certificate but as i do not had a domain, (I use IP only for access). I could not use in my domain.
We can do it (in pair) and make some tests to see if it work.
I'm confident in trying to make a deploy with https protocol.

[2016-11-24 19:00] cuducos commented on #22
Many thanks, @danizavtz! In fact @gomex, @gwmoura and others are advancing with a Docker infrastructure for deploy. I think that you could coordinate to work with them there (we're using `extract-nodejs` branch) instead of thinking of the architecture currently in use at `master` — does that make sense to you?

[2016-11-24 20:45] cuducos opened #52 "Jarbas and machine learning results"
I'm documenting here the next steps of Jarbas in terms of development, i.e. it's a big issue, not a tiny and specific one.

We have a new player in Serenata de Amor operation that is [Rosie](https://github.com/datasciencebr/rosie/). She's our robot, she'll tell us what she thinks of each reimbursement. Basically for each [hypothesis of our roadmap](https://github.com/datasciencebr/serenata-de-amor

[2016-11-25 05:27] danizavtz commented on #22
Yes no problem. I was not aware of what was happening on that branch, latter I saw the discussion about docker integration.
I will try to coordinate better with them.
First I will try to make it run on my machine.
Thanks.

[2016-11-25 13:20] cuducos commented on #22
Many thanks @danizavtz! Soon (maybe later today) Docker stuff will me merged to `master` ; )

[2016-11-26 01:10] cuducos commented on #28
Closing this Issue since:

* _good_ is such a subjective measure and
* we have good reasons to use the architecture we're using but
* mainly because this Issue was opened in due to a PVT conversation in which we considered using Capistrano to automate  the deploy — this hasn't happened yet and now we're moving towards Docker

[2016-11-26 01:10] #28 closed

[2016-11-26 01:10] cuducos commented on #22
**UPDATE**: Docker stuff is already on `master` branch.

[2016-11-26 01:13] cuducos opened #53 "Automate deploy with Docker"
Now we have a Docker structure, so we can think about how to use that to automate the deploy.

Ideally a piece of code to automate provision is much appreciated ; )

[2016-11-26 01:15] cuducos commented on #12
I'm closing this issue since it was an open ended discussion (Docker? Travis? Ansible? Capistrano? Fabric?) and now that we have Docker stuff on master we can focus on automating deploy and provision with Docker (just opened [a fresh new issue for that](https://github.com/datasciencebr/jarbas/issues/53)).

Many many thanks for all of you that coded to get us further — specially @gomex @gwmoura @lu

[2016-11-26 01:15] #12 closed

[2016-11-26 01:22] cuducos opened #54 "Update to Elm 0.18"

[2016-12-02 01:11] rphlfc opened #58 "Expose more resources through the API (Jarbas)"
It is more like a question than an actual issue but here it goes. Are you guys planning on exposing more resources through the API? The reason I am asking this is because as of right now the only method available is /api/document which lists Document objects. The thing is, each of the documents listed have attributes that could be referred to by their id's, state and party are examples of such. Th

[2016-12-02 22:05] cuducos commented on #58
Hi @rphlfc

You can have all these filters right now, just use `conhressperson_id`, `party` and `state` keywords
 in the URL of `/api/document/` endpoint as mentioned in the `README.md` — does that make sense or did I get you wrong?

[2016-12-02 22:05] #58 closed

[2016-12-07 12:46] vmesel commented on #53
Docker is easy, I can handle this one!

[2016-12-07 13:06] cuducos commented on #53
@gomex might be workin on or planning something in that direction — you both could collaborate with each other if that's the case ; )

[2016-12-07 20:30] cuducos commented on #52
This just started at [`next`](https://github.com/datasciencebr/jarbas/tree/next) branch ; )

[2016-12-08 02:03] cuducos commented on #54
We're waiting for `elm-mdl` (see their [issue #253](https://github.com/debois/elm-mdl/issues/253)) to be available for Elm 0.18.

[2016-12-08 02:06] #51 closed

[2016-12-08 10:12] gwmoura commented on #22
@danizavtz are you working on it? What are you did?
In my mind we can automate the generation of the certificate to be used by nginx and update the jarbas nginx image with the new certificate.

[2016-12-08 10:19] gwmoura commented on #53
@vmesel You have one idea, how to deploy? Today we need to deploy 4 services (maybe 3):

* jarbas - django app
* elm - nodejs
* web - nginx
* db - postgresql

[2016-12-08 16:44] danizavtz commented on #22
Hello, yesterday i tried run the jarbas locally on my machine, but i could not run this docker....
It gave me an error.
When i run the project with succes I will start a branch and do this job.
At night  will try again.

[2016-12-08 17:05] cuducos commented on #22
@danizavtz What was the error? Share it and we might fix it or help you get started ; )

[2016-12-08 17:48] danizavtz commented on #22
Here is the error:
Removing intermediate container d8653fc3d5b4
Step 6 : COPY .env /code/.env
ERROR: Service 'jarbas' failed to build: lstat .env: no such file or directory

this directory [.env] does not exist in my jarbas folder.

[2016-12-08 18:00] cuducos commented on #22
Yay, you just helped us figuring out something wrong in nour documentation. The [Settings](https://github.com/datasciencebr/jarbas#settings) is relevant to Docker users too, whe should reorganize that in the `README.md`. Thanks ; )

[2016-12-08 18:02] cuducos opened #59 "Settings instructions is relevant for Docker users too"
The [Settings](https://github.com/datasciencebr/jarbas#settings) is relevant to Docker users too, whe should reorganize that in the `README.md`. Thanks @danizavtz

[2016-12-08 20:55] pedrommone commented on #53
I think a `Ansible` is the easiest way to provision it right now, since the stack is very tiny. How are you planning it @gomex?

[2016-12-09 11:41] gomex commented on #53
I was thinking about using ansible to create the docker host and to run the docker-compose there. What you think about?

[2016-12-09 11:42] pedrommone commented on #53
@gomex it's the easiest way and probably the best way for now.

[2016-12-09 11:54] danizavtz commented on #22
Hey @cuducos shall we create a new issue, with this error?
I should follow the rules for the local install to succeed?

[2016-12-09 11:54] pedrommone commented on #22
@danizavtz its already created: #59

[2016-12-09 12:02] danizavtz commented on #22
Now I copied the .env config and I could build the project using docker with success.

Now it gives me an error when i run the command:
docker-compose run --rm jarbas python manage.py loaddatasets

Here is the error:
return self.cursor.execute(sql, params)
django.db.utils.ProgrammingError: relation "core_document" does not exist
LINE 1: SELECT COUNT(*) AS "__count" FROM "core_document"

But i didn

[2016-12-09 12:06] pedrommone commented on #22
@danizavtz can you open an issue about the problem you're facing? Let's maintain the discussion here about the HTTPS. Thank you :)

[2016-12-09 12:17] cuducos commented on #22
No need to run `makemigrations` and [`migrate` is aleeady in ran by the `Dockerfile`](https://github.com/datasciencebr/jarbas/blob/master/Dockerfile#L10). Is your `.env` overriding `docker-compose.yml`'s `DATABASE_URL` by any chance?

Please, let's follow @pedrommone's excellent suggestion: report that in a new issue to make it easier for the community ; )

[2016-12-09 12:51] danizavtz opened #60 "Error "core_document" does not exist"
Facing this error when running the command:
docker-compose run --rm jarbas python manage.py loaddatasets
tryed with and without sudo and same error occur.

Here is the error:
django.db.utils.ProgrammingError: relation "core_document" does not exist

I noticed that the file db.sqlite3 is not created.

as @cuducos pointed out:
Is your .env overriding docker-compose.yml's DATABASE_URL by any chance?

[2016-12-09 13:59] cuducos commented on #60
Just to clarify: once you fix the conflict in the `DATABASE_URL` settings did you rebuild the image so it executed the `migrate` in the right database?

Once that's sorted, I'd like to hear from you: what can we do (in terms of settings and documentation) to avoid this confusion?

Many thanks

[2016-12-09 14:52] danizavtz commented on #60
Yes.
with that command:

rebuild the whole container and downloaded all prerequisites.
Looking for console msg of error I found that this table is not in migration
here is the log:

this table "core_document" is not in the list of migrations, maybe that could be the error. Perhaps missing some migration.

It gives me the same error:

by the way I left the database url untouched, just like that:

[2016-12-09 14:56] cuducos commented on #60
So you still have conflicts in your settings (docker-compose.yml
has one value, .env has another).

Remove DATABASE_URL from .env, let docker-compose.yml alone handle
DATABASE_URL and let me know how it goes ; )
On Fri, 9 Dec 2016 at 12:52 danizavtz <notifications@github.com> wrote:

[2016-12-09 15:01] cuducos commented on #60
BTW, `core_document` is there (check [`core.0001_initial`](https://github.com/datasciencebr/jarbas/blob/master/jarbas/core/migrations/0001_initial.py) ; )

[2016-12-09 21:48] cuducos commented on #52
I just reslized the TODO list from the previous post changed considerably, so I'm gonna edit the post, remove the previous TODO list and use this one ro keep track of the progress:

- [ ] Create a new `Reimbursement` model to fit the new `YYYY-MM-DD-reimbursements.xz`
- [ ] Add fields to that model to store data about suspicions Rosie might find
- [ ] Add the current `Receipt` logic to `Reimbursem

[2016-12-09 22:11] cuducos opened #61 "New UI/UX"
Now Jarbas is changing. From an internal tool for Serenata it will become the public API for the general public. And this impacts UI/UX.

In terms of UX we might change the landing page to offer two ways to start a search, to start browsing  our data, maybe two tabs or something like that (sorry about the `pt-BR`):

![](https://imgur.com/Jl1uwXh.png)

And in terms of UI, @tatianasb is working on i

[2016-12-10 19:24] cuducos commented on #52
Hi @daneoshiga: The changes described in that Issue will break compatibility with [tapioca-jarbas](https://github.com/daneoshiga/tapioca-jarbas/) (check the `README.md` from the `next` branch for more details). So I'm tagging you here in case you want to coordinate an update to your repo — we can make it happen ; )

[2016-12-10 21:16] daneoshiga commented on #52
Thanks for the heads up, I'll keep keep an eye in the evolution of it and update tapioca-jarbas accordingly, thanks :)

[2016-12-12 00:58] cuducos opened #62 "Cleanup: remove old models, serializers, views, tests etc."
Once #52 is done, we can do some house keeping:

  - [x] Remove old models (`Document`, `Receipt`)
  - [x] Remove old serializers (`DocumentSerializer`, `ReceiptSerializer`)
  - [x] Remove old views (`DocumentViewset`, `ReceiptViewSet`)
  - [x] Remove `OldLoadCommand`
  - [x] Rename suppliers to company
    - [x] model
    - [x] views
    - [x] serializers
    - [x] tests
    - [x] urls
    - [x]

[2016-12-12 18:00] danizavtz commented on #60
I was debugging and noticed maybe a problem.
When i finish to build all the instances of the docker-compose. I receive this msg from terminal:

But when i run the command:

it gives me this status:

Maybe that could be the problem because this error ocur just in the instance jarbas_elm

I'm struck on the same error.

[2016-12-12 18:27] cuducos commented on #60
This is not an error. The Elm container generates the `app.js` and passes away. That's the way it is. Have you tried what I suggested you before? That's what is at the core of your problem.

[2016-12-12 18:55] danizavtz commented on #60
Yes i 've tryed, same error occur, i just deleted the line containing the databaseurl.
@cuducos There is one strange thing, there is a container for a postgres version 9.6
But the migration of the database is being done in a postgres 9.4 as i can see in the logs.

--> here goes the migration. and it runs with success..

I think is better try without the docker stuff.

[2016-12-13 21:30] gwmoura commented on #53
Hi, guys how this is running?

[2016-12-13 21:47] gwmoura commented on #60
@danizavtz can you try this:

* docker-compose rm db
* check if env vars are same on .env and docker-compose.yaml
* docker-compose up -d

[2016-12-14 13:04] cuducos commented on #53
@gwmoura Apparently nobody's working on that — ages ago I started a branch called [`ansible`](https://github.com/datasciencebr/jarbas/tree/ansible) but back then it was focused on deploying without Docker. I'd be happy to pair on that to sort that out, but I need guidance from one of you guys.

[2016-12-14 18:33] cuducos commented on #52
@daneoshiga soon I'm merging `next` to `master`, so the new API will be available. However until we write the new front-end #61 the old API still working because our current front-end consumes it. No need to hurry, but anyway: if you wanna pair I can learn bits of tapioca and maybe we both can solve it quicker ; )

[2016-12-14 20:41] gwmoura commented on #53
@cuducos we can pair, but basically is use the ansible to install docker on server and run `docker-compose up`.

We can follow the steps on this link: https://docs.docker.com/compose/production/

* Create a `jarbas-production.yaml`
* Define tasks to be runned before app run
* Define strategy for no downtime :smile:

[2016-12-14 20:47] gwmoura commented on #60
@danizavtz, please, sorry for my bad answer, testing here the same error occurred, I am try to discover the problema and I will return with the solution.

[2016-12-14 20:54] gwmoura commented on #60
@danizavtz I found the solution:

Before run `docker-compose run --rm jarbas python manage.py loaddatasets` run this: `docker-compose run --rm jarbas python manage.py migrate`

look this my test:

[code]
[code]
[code]

[2016-12-14 21:00] cuducos commented on #53
Great material. I have the feeling that I will take a lot of time with that with the less basic stuff (such as keep sensible information on the environment etc). It's not my priority right now but I'd make it a priority if I can pair. Otherwise I'll try to build a `Dockerfile` for [Rosie](https://github.com/datasciencebr/rosie), so Rosie can live in the same server as Jarbas, easily deployed with

[2016-12-14 21:03] cuducos commented on #60
Intersting, @gwmoura!

The[ `migrate` command should be ran by the `Dockerfile`](https://github.com/datasciencebr/jarbas/blob/master/Dockerfile#L10) — any idea why it's not running/it's not effective?

[2016-12-14 21:29] gwmoura commented on #60
@cuducos I think it's occurs because the migrate command is runned on build process, I'm gonna do more tests to discover a solution.

[2016-12-14 21:47] cuducos commented on #52
Closed by #64

[2016-12-14 21:47] #52 closed

[2016-12-14 23:36] gomex commented on #60
You are correct @gwmoura! That migrate work well with sqlite, but breaks with postgres. I will send a PR soon to solve that.

[2016-12-15 00:01] gwmoura commented on #60
Thanks @gomex 😁

Em qua, 14 de dez de 2016 20:36, Rafael Gomes <notifications@github.com>
escreveu:

--
*George Moura*
*(71) 98788-6089*
*Desenvolvedor Web e Mobile*
*www.georgemoura.com.br <http://www.georgemoura.com.br/>*

[2016-12-15 00:23] gwmoura commented on #60
@gomex the problem can be here on `jarbas/settings.py`

[code]

setting the ENV `DATABASE_URL` to postgres, before the build, can solve

[2016-12-15 10:54] cuducos commented on #60
About SQLite and Postgres:

Actually this snippet pasted by @gwmoura is a _bug_ created by 7365807 (from this commit and on Postgres is required due to the usage o `jsonb` column type). However this might not explain why @danizavtz was having troubles in the first place (this commit was merged to master yesterday). Yet the `DATABASE_URL` is set to Postgres before the build [in the `docker-compose.

[2016-12-15 12:56] danizavtz commented on #60
Here is the output:

**vazio**

**`DATABASE_URL=postgres://jarbas:mysecretpassword@db/jarbas`**

**vazio**

[2016-12-15 13:07] danizavtz commented on #60
@gwmoura it works.
Followed your instructions I could download all data, and migrations run with success

[2016-12-15 17:27] gomex commented on #60
The problem is that ENV from docker-compose is not use by build time. Just when the container is running after image is done! We need to fix that.

[2016-12-15 17:57] cuducos commented on #60
As the Postgres address is hardcoded anyway, can we just move it from `docker-compose.yml` to `Dockerfile`? Or then when Docker Compose bring them `up` the `DATABASE_URL` will be missing?

[2016-12-16 01:21] luizfzs opened #67 "Issue with 'Document value' presentation"
By going through http://jarbas.datasciencebr.com/#/party/PMDB, I noticed the values of 'Document value' are presented like ##.###. As we use English, it should be like ##.###,##: 1) use '.' as thousands separator; 2) ',' for decimal separators; 3) use only 2 decimal places. By spotting` Document value "60.000" ` I interpret like a spending of R$ 6000,00 instead of R$ 60,00 like is on the receipt.

[2016-12-16 09:39] cuducos opened #68 "Make reimbursements command load a specific file/path"
Right now it loads the date from the [`jarbas/settings.py`](https://github.com/datasciencebr/jarbas/blob/master/jarbas/settings.py#L140-Lundefined) and downloads the file from S3, but I think it can read [Rosie](https://github.com/datasciencebr/rosie)'s output in a similar way of the [`irregularities` command](https://github.com/datasciencebr/jarbas/blob/master/jarbas/core/management/commands/irre

[2016-12-16 09:40] cuducos opened #69 "Make file name a required argument for irregularities command (not an option)"
And as soon as #68 is done, for reimbursement too.

[2016-12-16 16:47] gomex commented on #60
I created a PR to solve that: https://github.com/datasciencebr/jarbas/pull/70

[2016-12-16 17:34] cuducos commented on #60
Many thanks, @gomex. Fingers crossed here, @danizavtz ; )

[2016-12-16 17:36] cuducos commented on #67
Many thanks, @luizfzs — this was one of those things that it was supposed to be fixed later and ended up forgotten. I'm glad for the heads up. Soon we're deploying the fix ; )

[2016-12-16 19:50] #67 closed

[2016-12-19 00:20] gomex commented on #60
Did you solve your problem @danizavtz ?

[2016-12-19 12:01] danizavtz commented on #60
@gomex how to initialize the project with the docker?
I could finish the instructions to migrate the database and run all the commands, but when I run the browser using the address:

I do no see the default page with the data.
Should I run another command?

[2016-12-19 12:03] gomex commented on #60
I could finish the instructions to migrate the database and run all the commands, but when I run the browser using the address:

Do you use linux? If your answer is yes, you can use make:

[code]

If you don't use linux, please read the README file.

[2016-12-19 12:27] danizavtz commented on #60
It works.

In step 6, caused an error (after i run the command make run.devel).
I still have to keep the .env file.
See the log.
(without the .env file)

after I put the .env file correctly i could see the localhost:80 page. Thanks.

[2016-12-19 12:30] cuducos commented on #60
Good to know @danizavtz! Many thanks for reporting the bug.

In ended up that this last bug was the other one you reported (#59), so we catch up there.

@gomex Once more thanks for the follow up, for the PR that fixed the issue and for the support ; )

[2016-12-19 12:30] #60 closed

[2016-12-19 23:41] #68 closed

[2016-12-19 23:41] #69 closed

[2016-12-20 16:45] cuducos opened #77 "Make receipts command faster"
Multithreading and handling multiple requests in parallel are the key (it's the `Reimbursement.get_receipt_url()` from #76 that handles the HTTP requests)

[2016-12-20 16:51] cuducos opened #78 "Add Memcached to Docker pipeline"
The backend is ready to use [Memcached](http://www.memcached.org), but that has not been implemented in the Docker pipeline. As we intend to use Docker for deploy/provision, this is a pending task.

Settings to Memcached access point (e.g. `CACHE_LOCATION=localhost:11211`) are to be set as [envvars or in the `.env`](https://github.com/datasciencebr/jarbas#django-settings).

[2016-12-20 20:59] cuducos commented on #78
I'm going crazy. I've already done it one of these days… 

[2016-12-20 20:59] #78 closed

[2016-12-20 21:26] daneoshiga commented on #52
@cuducos sorry for taking too long to reply.
We could do that :), I have free time at night these days, but tapioca-wrapper is pretty easy to work with, just listing the new endpoints in resource_mapping.py should work :)

[2016-12-21 17:25] felipekzig commented on #61
@cuducos
How is this redesign going? I'm thrilled to help on the UI piece, although I'm bit new to elmJS. Let me know if this issue is still wanted and if you have any other design in mind and which we should start to move forward.

Thanks,
Felipe

[2016-12-21 17:55] cuducos commented on #61
Hi @felipekzig — just to clarify: are you willing to contribute with the graphic design part (mostly visual) or with the coding it into HTML/CSS/Elm whatever?

[2016-12-21 18:02] felipekzig commented on #61
Hey @cuducos,
Definitely coding contribution – I could help on the visual, but this is not my strongest skill.

[2016-12-21 18:30] cuducos commented on #61
Ok, great then… Probably we'll keep the Elm for the front-end, but I used the [material design library](https://github.com/debois/elm-mdl) and I don't think we need this level of abstraction.

Probably the new version is going for Elm + standard CSS built from SASS (I'm big fan of [Bourbon](http://bourbon.io) family, but no strings attached). Once we have the visual done we can get started. Wanna

[2016-12-22 14:59] #62 closed

[2016-12-22 21:19] #59 closed

[2016-12-22 21:25] gomex commented on #53
I can pair with you. I already have a ansible role to create a droplet on Digital Ocean with Docker host installed and now we just need to configure a role to start docker there.

[2016-12-22 21:33] cuducos commented on #53
Great! When does it work to you? I'm basically free weekdays, whole day, except 2-4pm ; )

[2016-12-22 21:35] gomex commented on #53
I am free weekdays too, but in the night is better for me :)

[2016-12-23 13:38] gomex commented on #53
I am finish to clean the code and send I PR with a proposal for create droplets on Digital Ocean using ansible.

[2016-12-23 15:51] gomex commented on #53
I am doing that in my fork, you can follow there:

https://travis-ci.org/gomex/jarbas

My problem now is about keep together the old deploy code of travis and the new proposal to use ansible, because ansible is not ok yet to use 3.5 python language :( I changed to 2.7 and got problem with that:

[code]

[2016-12-23 20:05] cuducos commented on #53
Unfortunately we need Python 3 to run Jarbas. If you start travis in Python 2.7, you can install (if needed, have to check Ubuntu/Debian version) `python3` and run all the commands with `python3` instead of `python` (for example `python3 manage.py test` instead of `python manage.py test`) — sounds reasonable?

[2016-12-25 13:01] #17 closed

[2016-12-25 13:01] #54 closed

[2016-12-25 17:57] gomex commented on #53
@cuducos today the jarbas is deployed in only one machine or a cluster?

[2016-12-25 18:01] cuducos commented on #53
Only one DO droplet ; )
On Sun, 25 Dec 2016 at 15:57 Rafael Gomes <notifications@github.com> wrote:

[2016-12-26 13:27] gwmoura commented on #77
@cuducos sorry, I am don't know much about this area, but searching by this subject I found this package: multiprocessing - https://docs.python.org/3/library/multiprocessing.html

Probabilly you know about this...

I found too this tutorial and I think he can help us - https://www.toptal.com/python/beginners-guide-to-concurrency-and-parallelism-in-python

[2016-12-26 14:11] cuducos commented on #77
Yep, I used this on #66 — it works fine but I couldn't write tests for it (I mean, the tests I wrote were not working), so still on hold…

[2016-12-26 14:12] cuducos commented on #77
Anyway… further thoughts: in the case of receipts, `asyncio` seems more promising than `multiprocessing` alone due to long time waiting for the response os a request (not long time waiting for processing). The trick is to start multiple HTTP requests ar once, not necessarily to distribute them among processes/threads ; )

[2016-12-26 15:29] gwmoura commented on #77
So, we can start multiple HTTP requests using `multiprocessing` or threads and use `asyncio` to create an asynchronous HTTP consumer or `asyncio` solves the all problems?

[2016-12-26 17:30] cuducos commented on #77
Actually I think that `asyncio` would be better to make parallel requests: a coroutine that starts the next request while waits for the current one's response, and so on… this way we can have a lot of requests started in the latency in-between sending a request and getting its response. Later we can start different process like that, but we have to test and see the results first IMHO…

[2016-12-26 17:57] #22 closed

[2016-12-27 15:18] cuducos commented on #61
Ok, here it's, @tatianasb's proposal:

![](http://imgur.com/7Y167GP.png)

[2016-12-27 16:05] fgrehm commented on #61
That looks nice! How would the recently introduced "Reimbursements on the same date" fit into this? Would it be just a "replica" of the "Reimbursement details" section?

[2016-12-27 16:11] fgrehm opened #93 "Dates presented are off by one in relation to the date of the receipt"
Looks like something in the client side based on the API response 🤔

<img width="606" alt="screen shot 2016-12-27 at 2 08 50 pm" src="https://cloud.githubusercontent.com/assets/81859/21503393/44c2d684-cc3e-11e6-8fce-0bbc679e97b0.png">

[2016-12-27 16:30] felipekzig commented on #61
Great! This looks amazing. How are you willing to split it up into workable items? And how are you planning to track them?

I thought about the following items:
1. Page overall structure
2. Sections
    2.1. Congressperson
    2.2. Document
    2.3. Company
    2.4. Reimbursement

Thank you

[2016-12-27 16:36] Irio commented on #93
Probably caused by a [`Date.parse()`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/parse) in GMT and conversion to negative timezone.

[2016-12-27 16:45] cuducos commented on #61
@fgrehm: I think a _replica_ fits well, but @tatianasb will work on that ; )

@felipekzig: I have no experience on that, you suggestion looks good. I might start with the Elm refactor so we have the HTML base, then we move to _1. Page overall structure_ and so on… does that look good?

[2016-12-27 16:55] felipekzig commented on #61
@cuducos Yeah, sounds like a plan. Let me know when you get almost pass the item 1; then, I can start off to work on a section. Sections could be done in parallel so we can achieve the mid-January deadline :)

[2016-12-27 18:04] cuducos commented on #93
The decoding is done using [`new Date(str)`](https://github.com/elm-lang/core/blob/5.0.0/src/Native/Date.js#L7) not the parser… very bizarre… starting to investigate now. Thanks for the heads up @fgrehm!

[2016-12-27 18:17] cuducos commented on #93
@Irio nailed it:

[code]

I'm gonna drop the `Date` type and use an improvised one just with regular `Int` numbers… ugly and dirty but… does anyone have a better idea?

[2016-12-27 19:26] Irio commented on #93
`new Date(dateString)` does an implicit call to `Date.parse(dateString)`.

[code]
should solve the bug.

[2016-12-27 19:42] cuducos commented on #93
Yay! `(BRT)` didn't work, but you pointed me to the right direction:

[code]

[2016-12-28 02:00] glauberramos commented on #61
@cuducos @felipekzig I can help with the Elm + SASS as well. But I will be available only after january 8. When is the deadline for this new layout?

[2016-12-28 10:04] #93 closed

[2016-12-30 12:22] cuducos commented on #61
@felipekzig Gonna get started next week and keep you updated. Not sure what's gonna be left to the 8th of January, but feel free to jump in later @glauberramos — there's always something to be done, enhanced, etc ; )

[2016-12-31 18:28] petriuslima opened #98 "Painful development with docker"
When I was developing in docker environment, I felt that the development was painful because the following issues:
- Folders are copied when docker starts. So, any modification isn't  "on the fly"
- Elm container ends after executing gulp for the first time
- Jarbas container has the command to collectstatics after the update by elm container. So I had to execute the command manually every time th

[2016-12-31 18:56] cuducos commented on #98
I haven't used Docker for dev in Jarbas yet, but the critique makes a lot of sense. Unfortunately as a newbie in Docker I'm not sure about the best strategy to address this issue — any idea @petriuslima?

Would #18 be the only possible solution?

[2016-12-31 19:09] cuducos commented on #98
Also in spite of the title of this issue the problem is developing in Elm (frontend) or also in Python (backend)? May I add "with Elm" to make the title clearer?

[2016-12-31 19:43] petriuslima commented on #98
I didn't test python container itself, but I think that the same occurs because the entire folder is copied to container. So, any change made in the real folder don't affect the folder inside the container.

[2016-12-31 20:44] cuducos commented on #98
Thanks, @petriuslima. What about my first comment? Any idea? I feel kind of lost when it cames to Docker…

[2017-01-03 16:32] #77 closed

[2017-01-04 14:20] fgrehm opened #101 "RFC: Ability to filter reimbursements by a range of 'issue_date's"
The other day I was playing with the flight tickets dataset and was able to identify tickets for international flights (basically check if the `total_net_value` is > 4k).

With that info we'd be able to identify a period of time when the congressperson was abroad and investigate reimbursements in Brazil that requires the deputy to be physically present (like taxi and meals).

I believe we have mor

[2017-01-04 17:55] evilasiov opened #103 "0 results found when clicking to the second page"
1. Go to https://jarbas.datasciencebr.com/#/year/2016
2. Click to the second page of results.

This error is printed in the inspector.

[code]

[2017-01-04 20:05] cuducos commented on #103
Many thanks for reporting, @evilasiov ; )

I already figure out why this bug happens (some `term_id` are `null`). Gonna send a PR fixing it soon!

[2017-01-04 20:22] #103 closed

[2017-01-08 03:17] rogeriochaves commented on #98
AFAIK, we could share local volumes with the docker containers on `docker-compose.yml`, for example:

[code]
(Dockerfile-elm doesn't have a WORKDIR, I don't know if it is copying all the files to /root, I just assumed)

But this should be only for development, we could have a `docker-compose.dev.yml` or call the current one `docker-compose.prod.yml`.

IMHO it is very good to develop using docker (

[2017-01-08 12:39] cuducos commented on #101
Closed by PR #106

[2017-01-08 12:39] #101 closed

[2017-01-08 12:48] cuducos commented on #98
I'm sorry I cannot address this issue right now as I'm a total newbie in Docker. I'm really glad @gomex, @gwmoura and @pedrommone have made important contribution in the direction of fixing an important issue: the deployment process, which is still very manual (wired up by a git hook in the production server).

All that just to say: I totally agree with @rogeriochaves, _it is very good to develop

[2017-01-10 13:01] flaviodrt opened #111 "Create dashboard with reports"
Hi,
I don't know if jarbas is the appropriate project for this funcionality, but I suggest to create a dashboard containing all reports informed to Chamber (https://twitter.com/cuducos/status/818434229314928641) and showing the information of each real invested in the project, how much was returned to society.
This funcionality is inspired in this article: http://www1.folha.uol.com.br/mercado/2017

[2017-01-12 14:15] gomex commented on #98
Hey @petriuslima !

Thanks for your feedback:

We can solve this mount our code to container:

https://github.com/datasciencebr/jarbas/pull/114
https://github.com/datasciencebr/jarbas/pull/113

How can we solve that? Is there other way?

But this is design, right? Without docker you still need to collect that, right?

[2017-01-12 14:20] cuducos commented on #98
If you run Django in debug mode (this is what people do in development) you can skip `collectstatic`. But not sure if we can mimic that in a Docker environment. Debug mode is active when `.env` (or envvar) `DEBUG` equals `True`.

[2017-01-12 16:35] gomex commented on #98
@cuducos you are right. We need to solve that part of collectstatic :( I will think about something

[2017-01-12 18:56] gomex commented on #98
@cuducos to run django in debug mode we just need to have a environment variable DEBUG=True? If yes get my PR to solve this problem:

#115

[2017-01-12 20:21] cuducos commented on #98
Great! I added minor comments to the PR, once you've checked them I merge it!

BTW #113 and #114 already merged.

[2017-01-13 03:26] glauberramos opened #117 "Add CONTRIBUTING.md"
It would be nice to have a CONTRIBUTING.md in order to know how to best contribute to the project.

[2017-01-13 05:09] gomex commented on #98
@cuducos #115 updated. Can you please check again?

[2017-01-13 11:24] cuducos commented on #117
Cool… What would you add there, I mean… what's missing? The most obvious questions are already documented IMHO: how to install (`README.md`) and in which areas we need help (Issues). What else could we write on the `CONTRIBUTING.md`? Would you mind drafting something, an outline for example?

[2017-01-13 11:26] cuducos commented on #111
I'd say that's not Jarbas focus. Jarbas is a tool to visualize the reimbursements and data related to them. This kind of balance/report would have a better fit in a new version of [our website](serenata-website). Would you mind opening this issue there? cc @brunopazzim @vilapedro

[2017-01-13 11:33] cuducos commented on #98
Many thanks, @gomex 🎊

@petriuslima After this 3 merged PR (#113, #114 and #115), can you update this issue highlighting what is still painful in the Docker development env so we can target it in a more specific way?

[2017-01-13 12:21] gomex commented on #98
@cuducos thanks!

@petriuslima I am here to help you. I am not developer, because that may be it is not good yet.

[2017-01-13 18:24] jtemporal opened #119 "Add Chamber of Deputies request for information"
Since we've being auditing some suspicious cases found by Rosie, it would be nice if we could see information related to requests we made to the Chamber of Deputies like protocol number and status on Jarbas front-end. In that way we can see whether or not one document has an request open.

[2017-01-13 18:28] petriuslima commented on #98
Hey guys, sorry for my absence!

@cuducos

I think no. We have solutions without spliting the repositories. But, it would be a good thing to do in the future.

@rogeriochaves great suggestions. The Docker Compose have some ways to extend the files too.

@gomex Nice, man. I didn't test everything, but the docker-compose.yml looks pretty good. I don't know much about python and elm development, so I

[2017-01-13 18:38] cuducos commented on #98
Yes… but not exactly. Let's say it's a side effect.

The idea of the debug mode is to make it easier to develop — which includes other features besides the bypass of `collectstatic` as reloading the server once any `.py` file is changed or completely disabling CSRF.

In the debug mode Django itself serves the static files for you, directly, which is a terrible idea (performance-wise) for productio

[2017-01-13 18:46] cuducos commented on #119
It looks like a great idea, but I still have my doubts about how to organize all the information.

By now we report the cases ourselves, but this is not suppose to be like that in the medium and long-term. So how to keep track of what was reported in an ideal future where anyone can spot something on Jarbas and report ir to the Chamber of Deputies?

Another thing to consider is that the Chamber of

[2017-01-13 18:49] jtemporal commented on #119
Well said @cuducos we need to discuss all of this better ;)

[2017-01-13 20:36] glauberramos commented on #117
I was thinking more about it and it makes sense that we don't need it. I don't actually have questions about how to contribute but I am facing some issues on running the project with docker. Maybe if we detail more the issues that can happen, right now for example when I try to access localhost:80 it's saying Elm is not defined.

[2017-01-13 20:54] glauberramos opened #120 "Add sample data files for development"
It would be nice to have some sample files to import into the database in order to do development of the app (elm, css, etc). It does not need to be the latest data, just some data to work on.

[2017-01-13 21:02] glauberramos commented on #117
@gomex helped me fix that issue and I am running the app now 💃

[2017-01-14 06:53] #117 closed

[2017-01-14 09:15] cuducos commented on #120
Great idea!

[2017-01-14 09:33] cuducos commented on #98
Not sure if it helps but I just remember there is the `npm run watch` command that watches for any changes in `**/*.Elm` and re-compile the `app.js` on the fly. Maybe using this command instead of `npm run assets` might help — but I'm not sure about how to code that to the first in development and the second on production.

[2017-01-14 11:22] cuducos opened #122 "Adapt front-end to be more stateless"
Nowadays passing information (`Language` basically everywhere, `parentId` for `RelatedTable` etc.) has proved too verbose (and adds unnecessary complexity — e.g. with `Html.map`).

[This design](https://gist.github.com/rofrol/fd46e9570728193fddcc234094a0bd99#reusable-views-instead-of-nested-components) is more promising.

[2017-01-14 11:25] cuducos opened #123 "Break Internationalization module into smaller modules"
The `Internationalization` module got too big (more than 600 LOC) and it might be a good idea to break it in smaller modules.

[2017-01-14 11:29] cuducos opened #124 "Store company activities as JSONField"
Nowadays each `Company` stores its main and secondary activities in a separate model (`Activity`) using a `ManyToManyField`.

I don't think it's necessary as we won't query by a company activity (at least not that frequently). Also this design makes the `python manage.py companies <companies.xz>` extremely slow because we cannot use `bulk_create` with relational tables (or can we?).

[2017-01-14 12:04] cuducos opened #125 "Optimize data import"
Nowadays first we import all reimbursements (`python manage.py reimbursements …`) and later we update these reimbursements with irregularities/suspicions (`python manage.py irregularities …`).

If we bring in `pandas` we could merge both datasets and import both datasets together in one command.

An extra would be that we could have the script drafted in [this markdown](https://github.com/datascie

[2017-01-14 14:05] gomex commented on #98
Hey @petriuslima

Until we find a better way for that I created a make target to run ELM again:

`make build.elm`

[2017-01-14 14:07] gomex commented on #98
We can replace the command inside docker-compose.yml, because we will use different docker-compose file to put in prod.

Can you tell the exact command I need to run?

[2017-01-14 14:09] cuducos commented on #98
Yay. So here we go:

* `npm run watch` for development
* `npm run assets` for production

[2017-01-14 14:30] gomex commented on #98
@cuducos PR #126

[2017-01-14 15:01] cuducos commented on #98
Merged!

[2017-01-14 17:09] gomex commented on #98
Hey @petriuslima

Can you test again?

[2017-01-14 19:31] gomex commented on #120
Hey @cuducos

I tried to use sample data from #121 PR, but I got error:

[code]

[2017-01-14 19:56] cuducos commented on #120
Hey @gomex, can you share the output of `python manage.py showmigrations`?

[2017-01-14 20:15] gomex commented on #120
[code]

[2017-01-14 20:25] cuducos commented on #120
You're using the wrong command/file combination — i.e.:

* The `python manage.py `**` reimbursements`** command
* with the file the `contrib/sample-data/`**`companies`**`_sample.xz`

; )

[2017-01-14 20:53] gomex commented on #120
Done! #127 created

[2017-01-15 17:10] petriuslima commented on #98
@gomex,
The Elm container was still stopping on start process, so I fix that (was some problem with shared volumes, as described by the commit c4305c93e9eefaa644de75570fc3300877ad9127, if you want to see) and do some changes to allow the development of dev and prod environment. The best way I tought is using docker compose extends but for now I think this should work.

@cuducos and @gomex, I think

[2017-01-15 18:46] gomex commented on #98
@petriuslima I hope the PR #127 solve that. Let's wait @cuducos merge that.

[2017-01-15 21:42] cuducos commented on #98
Minor detail: it should be `DEBUG=True` not `Debug=True` but I guess in the file it was right.

Anyway… not sure if debug mode is active? Let's check if then:

* Jump in Jarbas directory inside the container (the directory that has the `manage.py` file)
* Enter `python manage.py shell -c 'from django.conf import settings; print(settings.DEBUG)'`

You will see `True` or `False` in the console ; )

[2017-01-16 16:11] Guilhermeslucas commented on #124
So, you're thinking to replace the activity model with a field on the companies model as JSON, with all the primary and secondary activities?

[2017-01-16 16:22] cuducos commented on #124
Yes, that's it.

Basically we can (just drafting here, probably I've forgotten some steps, such as checking if Django REST Framework serializers are consistent with the new strategy etc.):

1. Edit `models.py` removing `Activity` and setting up `main_activity` and `secondary_activity` to `JSONField`
2. Create a migration ; )
3. Adapt the serializer inside `companies.py` to parse `main_activity` an

[2017-01-16 16:25] cuducos commented on #124
An extra would be to manage data in the migrations, so we don't have to loose data and reimport it when moving along the migrations history…

[2017-01-16 17:41] Guilhermeslucas commented on #124
Ok @cuducos. I'll give it a try. Now, to check these informations we check the /api/company/<cnpj>/ adress, right?

[2017-01-16 19:24] cuducos commented on #124
Yep. To check this info you get to `/api/company/00000000000000/` where this tons of zeros is a CNPJ ; )

[2017-01-17 11:12] rogeriochaves commented on #122
I can work on that, just played a bit with the code to remove Language from Inputs, and oh my god, it is so much simpler now, I can see a big refactor coming (:

I believe it will be easier if we merge #130 and #137 first (I've pulld the branch, much easier to work with docker :P)

[2017-01-17 11:24] cuducos commented on #122
Great, that'd would be awesome — many thanks for the enthusiasm!

Just a bit of context around the PRs:

* I hope #127 is merged today: there was a bug in it, but hopefully I could fixed it — as soon as @gomex review it I can merge I guess
* #130 will be merged later today by @jtemporal or @anaschwendler I guess

If you wanna pair on this issue, just drop a line ; )

[2017-01-17 13:54] cuducos commented on #122
Both done ; )

[2017-01-17 13:55] cuducos commented on #98
We just merged #127 that should have made dev in Docker a bit easier — tou @gomex. Can you guys test and feedback? Many thanks

[2017-01-17 14:10] cuducos commented on #120
Closed by #121

[2017-01-17 14:10] #120 closed

[2017-01-18 01:50] glauberramos opened #134 "Error on Elm inside docker"
I'm facing this issue inside docker volume, whenever I change a elm file it gives this error.

<img width="468" alt="screen shot 2017-01-17 at 11 49 45 pm" src="https://cloud.githubusercontent.com/assets/559434/22047703/b873f932-dd0f-11e6-8b5f-3baf73bd21cb.png">

Any idea on how to fix it?

[2017-01-18 03:01] Guilhermeslucas commented on #124
I changed the model an the Django REST Framework is fully working. But when I make a search on the index page of Jarbas, it doesn't show the campanies detail, as in the pictures above. Any idea on how to fix it?

Working REST Framework:
![captura de tela de 2017-01-18 00 58 38](https://cloud.githubusercontent.com/assets/9682164/22049278/6f904f2c-dd19-11e6-9c4e-f0f3cbf37e99.png)

Search not display

[2017-01-18 03:09] Guilhermeslucas commented on #124
I have a clue! Now, main and secondary activities are JSON, not a list(?) anymore.

[2017-01-18 09:57] cuducos commented on #134
Can you confirm your Elm files are compiling successfully _outside_ the Docker environment? If you're not sure, zip `jarbas/frontend/elm` and share it ; )

[2017-01-18 10:03] cuducos commented on #124
Are tests passing? I think you changed the way the API serves information. That is not necessary (and specially secondary activity actually needs to be an array).

If you find it difficult not to change the format currently in use I can pair to give you a hand, or you can suggest an edit on the Elm decoder that deals with this part of the API — check your browser's log console for some hints ; )

[2017-01-18 14:22] Guilhermeslucas commented on #124
I'll try to keep the information the same way! Do you think itis better to change the way I save informations on JSON Field or the API code that throws JSON? Many thanks, @cuducos

[2017-01-18 14:43] jrandson commented on #125
I'll try in this one.

[2017-01-18 15:30] Guilhermeslucas commented on #124
It's fixed now :) Do you want me to open a PR now or to write the bulk create?

[2017-01-18 17:02] Guilhermeslucas commented on #124
Sorry sending so much messages. Am I allowed to change the tests? It fails cause try to use the old Models, like activity, that don't exist anymore!

[2017-01-18 22:29] cuducos commented on #124
I'd go for the first options for consistency. I believe it makes sense to be a list (a list of activities the company is involved with).

I'd vote for writing the `bulk_create` code as this is the main advantage of this changes ; )

Sure. If they don't fit the current scenario they have to be updated ; )

[2017-01-18 22:35] Guilhermeslucas commented on #124
I'll work on it, then! thanks!

[2017-01-18 22:39] cuducos commented on #124
If you want, you can work a WIP (_work in progress_) PR and we can give you feedback in your (partial) code. Just add _[WIP]_ to the title of the PR and I'll know it's not ready to merge ; )

But only if you want to. Some people prefer to wait and send a more elaborated PR and theres absolutely no problem. Either way I'm fine It's up to you.

[2017-01-20 01:22] Guilhermeslucas commented on #124
I opened ad [WIP] PR #139 . If someone know more about tests than I do, I'd appreciate some help to make the coverage hit 100% again.

[2017-01-20 01:57] glauberramos commented on #134
I cleaned everything (deleted code, docker containers, images and volumes). Still seeing this issue. If I run "gulp elm" on my local folder, it works fine. It looks like is only inside docker. Not sure what is happening.

Any idea @gomex ?

[2017-01-20 01:58] glauberramos commented on #134
If I try "make build.elm", the same issue appears.

[2017-01-20 20:48] cuducos commented on #124
The PR looks good. I'm gonna do a proper _code review_ soon. I believe we can discuss that in the PR page ; ) Many thaks, @guilhermeslucas!

[2017-01-20 20:54] cuducos commented on #134
Let me try to help you @glauberramos. You shared that running `gulp elm` in the local folder throws you no errors. What about the documented way to build assets: `yarn assets` (or even `npm run assets`), can you confirm this works?

This difference is important. When you run `gulp elm` you're using a `gulp` binary that is in your `$PATH`, which is **not** how this project is configured to work. We

[2017-01-22 15:41] cabral commented on #119
Maybe we break the questions 1,2,3 with a issue # for each and invite people from the tech group to discuss them in the issue stream?

[2017-01-23 19:46] glauberramos commented on #134
In the it was me being noob on docker hehehe. I run "npm install" on my local, so docker was using elm binary compiled on mac os, but docker uses linux. I will add a instruction to not run "npm install" locally if you are using docker.

[2017-01-23 19:46] #134 closed

[2017-01-27 19:50] Guilhermeslucas commented on #124
@cuducos I don't know this is the right place, but I didn't find anywhere to ask this question. Since this issue looks like to be solved, is there some other issue I can work on? Many thanks,

[2017-01-27 19:53] cuducos commented on #124
Join us at the tech Telegram group (linked in the `CONTRIBUTION.md` within the [main repo](https://github.com/datasciencebr/serenata-de-amor)).

If you're enjoying Python, there is still [one Python related issue around here](https://github.com/datasciencebr/jarbas/issues/125). Otherwise there are open issues in the [other repositories](https://github.com/datasciencebr) that might be of interest ;

[2017-01-27 19:55] Guilhermeslucas commented on #124
Oh, the Telegram link, I'm already there. Sorry. I'll take a look at this issue. Again, thanks a lot! You guys are awesome.

[2017-01-27 19:58] Guilhermeslucas commented on #125
Anyone working on it? Can you explain a bit more about this issue? Thanks a lot!

[2017-01-28 11:20] jrandson commented on #125
Actually, I'm having a problem with the docker configuration, but I'm
supposed to be working on it. I think I will have it fixed , in order to go
on.

On Fri, Jan 27, 2017 at 4:58 PM, Guilherme Lucas <notifications@github.com>
wrote:

--
Att,
*Randson Cunha*

Mobile: +55 (84) 98821-7823
Skype: randson_cunha

[2017-01-29 15:43] Guilhermeslucas commented on #125
I can help you with it, if you want!

[2017-01-29 18:00] jrandson commented on #125
Sure. I'm still having problems to load the environment with docker.

On Sun, Jan 29, 2017 at 12:43 PM, Guilherme Lucas <notifications@github.com>
wrote:

--
Att,
*Randson Cunha*

Mobile: +55 (84) 98821-7823
Skype: randson_cunha

[2017-01-29 19:20] cuducos commented on #125
@jrandson You can open an issue with more details and we can help you troubleshoot Docker and Jarbas ; )

[2017-01-30 18:34] Guilhermeslucas commented on #125
So, the work here is to use pandas to merge the two datasets and import both reimbursements and irregularities with just one command. Is is right?

[2017-01-30 18:36] cuducos commented on #125
Yep.

[2017-01-30 18:36] cuducos commented on #125
Yep.

[2017-01-30 21:47] Guilhermeslucas commented on #125
So I have to create a new command that call the routines that import these data on database?

[2017-01-31 11:15] cuducos commented on #125
So I have to create a new command that call the routines that import these data on database?

And delete `reimbursements` and `irregularities`… **Or** remove `irregularities` and edit `reimbursements` ; )

[2017-01-31 16:29] Irio opened #144 "Change URL to https://jarbas.serenatadeamor.org/"
DNS is already configured. We probably have to regenerate SSL certificates.

[2017-01-31 18:42] Guilhermeslucas commented on #125
should we edit the command so it can accept both reimbursements and irregularaties or we assume both are in the same directory?

[2017-01-31 18:53] cuducos commented on #125
The command should expect two arguments ; )

[2017-01-31 18:54] Guilhermeslucas commented on #125
nice! I'm studying some pandas merge to try it!

[2017-01-31 21:41] Guilhermeslucas commented on #125
I'm having this error. Have someone ever faced something like this?

![captura de tela de 2017-01-31 19 40 41](https://cloud.githubusercontent.com/assets/9682164/22485547/37a31804-e7ed-11e6-81a7-f6e1d27e41af.png)

[2017-02-01 01:46] Guilhermeslucas commented on #125
Have no idea what is wrong. Running inside conda and its working.

[2017-02-01 19:13] Guilhermeslucas commented on #125
While coding this issue I guess I ran into a bug. This [line](https://github.com/datasciencebr/jarbas/blob/master/jarbas/core/management/commands/reimbursements.py#L74) is trying to convert into float ```'total_reimbursement_value'```, but the dictionary key is called ```'reimbursement_value_total'``` . Is it right?

[2017-02-01 19:21] cuducos commented on #125
I don't think it's a bug. We renamed some fields from the JSON — for the sake of coherence — in the Django Model. The [keys are renamed](https://github.com/datasciencebr/jarbas/blob/master/jarbas/core/management/commands/reimbursements.py#L44-L47) in the `serialize` method. But I haven't (re)tested so I might be wrong. Does that make sense!?

[2017-02-01 19:26] Guilhermeslucas commented on #125
Oh, sorry! Didn't pay attention. I'm really sorry!

[2017-02-01 20:45] cuducos commented on #144
Closed by #145

[2017-02-01 20:45] #144 closed

[2017-03-10 22:30] #111 closed

[2017-03-25 02:11] fcevado commented on #123
If there isn't anyone working on that, I can do it. Need to praticte some Elm :smile:

[2017-03-25 02:51] fcevado commented on #98
just tested it.... and got:
![error](https://cloud.githubusercontent.com/assets/9992984/24318890/6f7b4210-10ec-11e7-9212-ce2ec0588674.png)

[2017-03-25 15:59] cuducos commented on #123
AFAIK no one else is working on it ; )

[2017-03-27 03:46] #123 closed

[2017-05-04 17:25] Irio opened #160 "Configure New Relic"
https://newrelic.com/

[2017-05-08 16:28] cuducos commented on #160
Do they have any free plan for open-source or something like that? Can you expand on what you have in mind here?

[2017-05-11 16:36] cuducos commented on #125
Closing this issue:

With [@RosieDaSerenata](https://twitter.com/rosiedaserenata) Jarbas cannot afford to have its database wiped out each time we update reimbursement and suspicions. So this entire strategy to feed our database should be revised. Until now doing it quickly was a priority but from now on doing it without needing to `--drop-all` is the new black ; )

Probably a strategy with _bulk

[2017-05-11 16:36] #125 closed

[2017-05-11 16:37] cuducos commented on #124
Closing this PR because storing it as JSON would make `CNPJ` filters _too slow_…

[2017-05-11 16:37] #124 closed

[2017-05-11 16:37] cuducos commented on #98
Closing this issue to focus discussion on that topic on #163

[2017-05-11 16:37] #98 closed

[2017-05-11 16:38] cuducos commented on #119
Closing this as our strategy doesn't count on reporting to the Chamber of Deputies anymore.

[2017-05-11 16:38] #119 closed

[2017-05-16 12:40] lipemorais commented on #53
I believe that the next step after the PR about make Docker work for Jarbas development(a.k.a #163 ) could this one. What do you think @cuducos ?

[2017-05-16 13:36] cuducos commented on #53
So far so good @lipemorais — I'm gonna test and (hopefully) merge #163 today and then we can look into deploy with Docker <3

[2017-05-20 04:09] teesloane commented on #134
@glauberramos

I'm running into this now; could you share an example of the solution that you came up with?

[2017-05-20 04:12] glauberramos commented on #134
@teesloane for me was cleaning everything (deleting the code, cleaning docker) and then I didn't run npm install on my machine, this was the issue with me.

[2017-05-20 04:13] teesloane commented on #134
Ah ok, thanks for the quick response!

I definitely need to figure out how to properly clean and remove old docker images / containers and what not.

So when you say "didn't run npm install on my machine" — you mean not running npm install within the folder where your are building the docker container from?

[2017-05-20 04:21] glauberramos commented on #134
I think you can use https://kitematic.com/ (in case you use mac) to see all the containers. Here is a link that shows how to remove everything: https://www.digitalocean.com/community/tutorials/how-to-remove-docker-images-containers-and-volumes.

Yeah I mean not running "npm install" inside jarbas root folder on your machine itself (not on docker).

[2017-05-20 04:26] teesloane commented on #134
Cool, thanks @glauberramos .

I'm just wiping out all docker stuff; I'll try out kitematic. I'm glad I found this issue! I will keep working on this; hopefully I'll figure out my docker stuff (it's slowly but surely coming along...)

Thanks!!

[2017-05-24 20:16] augusto-herrmann commented on #61
The UI is looking nice so far. : )

I'd like to make a couple of suggestions:

1. Have the "other reimbursements on the same month and subquota" section be a timeline widget, instead of just a list. Maybe similar to [this one](http://www.simile-widgets.org/timeline/) or maybe using d3.js. Make the horizontal axis be the time scale and vertical bars representing each reimbursement with a link, and

[2017-05-24 20:30] cuducos commented on #61
Kudos to @tatianasb!

A list has a big advantage: one of the main reason to show these expenses in the UI is to make it easier to verify hypothesis such as the limit on expenses for a given subquota.

What I mean is something among these lines: if we know they can't spend more than 6k BRL/month with fuel, for example, checking a short list of all values spent on fuel in a given month is a vary eas

[2017-05-27 21:08] cuducos opened #174 "Track reimbursement changes"
Putting together #170 and [a tweet](https://twitter.com/leleportella/status/868561613191868416) from @leportella that introduced me to [`django-simple-history`](https://django-simple-history.readthedocs.io/) I think it's a good idea to use it to track reimbursement changes. (Thanks Leticia for the unpredictable help!)

[2017-05-28 20:14] leportella commented on #174
Nice!

[2017-05-28 20:21] jtemporal opened #175 "Create API endpoint for reimbursements that weren't available on the last dataset"
Since #170 created a flag `available_in_latest_dataset` maybe we should have an endpoint that has all reimbursements where that flag is set to `False`?

[2017-05-28 22:23] cuducos opened #178 "Use Mixer for tests"
As @cacarrara started in #171 ; )

The idea is to use this tool in all other test that needs fixtures.

[2017-05-29 00:57] cacarrara commented on #178
I suggest we could do it one test file by time. It would be easier to review and less dangerous :smile: -- I could do it.

[2017-05-29 01:53] cacarrara commented on #178
You know how to use this Milestones feature? We could use it.

[2017-05-29 02:58] cuducos commented on #178
The feature is pretty cool, but in terms of community management I had a not-so-good experience with it. It is not as visible as _Issues_, so it ends up as a kind of roadmap that is there but nobody sees it. So I tend to prefer good, old and chaotic _Issues_ for the sake of simplicity for the community ; )

[2017-05-29 12:44] #174 closed

[2017-05-29 12:45] jtemporal commented on #175
closed by #176

[2017-05-29 12:45] #175 closed

[2017-06-02 15:09] jtemporal opened #182 "Document requirements-dev"
Since #171 we have a `requirements-dev.txt` but there's no mention to it on the README.md. We need to add it =)

[2017-06-02 16:55] #182 closed

[2017-06-02 21:40] brwolfgang opened #186 "Make links on the 'URL do Documento Fiscal' field clickable"
Currently you have to copy the link and paste on a new tab - a job that quickly grows tiresome if you are viewing multiple receipts in a row:
![image](https://cloud.githubusercontent.com/assets/3627736/26745782/48a81208-47ba-11e7-947d-9749b03afc1e.png)

Great work on the dashboard, btw.

[2017-06-02 22:06] cuducos commented on #186
Many thanks, @brwolfgang! I'll add some stuff to this Issue as all of them are related to customizing the same part of Django Admin:

- [ ] Link receipt URL (as OP suggested)
- [ ] Show suspicions in pt_BR (not JSON)
- [ ] Show `subquota_description` in pt_BR (not en_US)

[2017-06-07 17:58] cuducos opened #191 "Document provision"
As #185 got a _LGTM_ but no merge I felt like this project needs to document how provisioning and deploy are currently handled. This might help in code reviewing stuff like that PR but mainly foster provision automation (something we completely lack, although deploy is basically managed by a [Git `post-receive` hook](https://github.com/datasciencebr/jarbas/blob/master/contrib/post-receive)).

I re

[2017-06-08 16:42] anaschwendler commented on #191
So after a conversation we decided by creating a droplet that will be made for running as a test.
Soon I and @jtemporal will be working on it! ;)

[2017-06-13 09:58] jtemporal commented on #186
Just checking, we can close this right?

[2017-06-13 10:00] cuducos commented on #186
Closed by #190

[2017-06-13 10:00] #186 closed

[2017-06-13 10:02] cuducos commented on #122
I'm kind of waiting for progress on #61 so this architecture refactor can be part of the UI/UX refactor proposed there.

[2017-06-13 10:02] #122 closed

[2017-06-13 10:03] cuducos commented on #53
Closed in favor of #191

[2017-06-13 10:03] #53 closed

[2017-06-13 10:04] cuducos commented on #18
Closed by inactivity

[2017-06-13 10:04] #18 closed

[2017-06-20 23:32] cuducos opened #198 "Use rows to avoid reinventing the wheel"
[`rows`](http://turicas.info/rows/) already deals with a lot of common issues related to reading a CSV file and serializing data. With that in mind maybe we ca reduce the LOC to maintain in this project if we use `rows` to deal with:

- [ ] [importing and serializing reimbursement data](https://github.com/datasciencebr/jarbas/blob/master/jarbas/core/management/commands/reimbursements.py#L35-L82) (

[2017-06-21 14:18] cuducos opened #199 "Add NodeJS to the docs"
Add NodeJS (6 or higher) as a requirement (in `README.md`)

[2017-06-21 14:20] cuducos opened #200 "Delete elm-stuff and node_modules in the beginning of each deploy"

[2017-06-21 14:22] cuducos commented on #200
And update `pip` ; )

[2017-06-21 20:43] cuducos opened #205 "Enhance security"
@davinirjr alerted my that we are [ranked D+ in terms of security](https://observatory.mozilla.org/analyze.html?host=jarbas.serenatadeamor.org). Is there a way to improve that?

[2017-06-21 20:53] davinirjr commented on #205
What whe use on the front? Nginx or Apache?

[2017-06-21 20:57] cuducos commented on #205
Nginx — the base config is [`contrib/nginx`](https://github.com/datasciencebr/jarbas/blob/master/contrib/nginx).

[2017-06-21 21:02] davinirjr commented on #205
Awesome! I'll help on it.

[2017-06-23 18:38] cuducos opened #209 "Add link to @RosieDaSerenata tweets"
A possible roadmap would be a custom Django command to scrap @RosieDaSerenata to:

- [x] Parse tweets and figure out the `document_id`<br>done in 65af517 @  [`cuducos-read-rosies-tweets`](https://github.com/datasciencebr/jarbas/tree/cuducos-read-rosies-tweets)
- [x] Check if tweet exists in Jarbas database<br>done in 6736039 @  [`cuducos-read-rosies-tweets`](https://github.com/datasciencebr/jarbas

[2017-06-23 19:53] cuducos commented on #209
Working on it on [`https://github.com/datasciencebr/jarbas/tree/cuducos-read-rosies-tweets`](https://github.com/datasciencebr/jarbas/tree/cuducos-read-rosies-tweets) — feel free to check and open PR to this branch.

[2017-06-23 20:21] Irio commented on #209
Check this out before working on the first item: [whistleblower/targets/twitter.py#L84](https://github.com/datasciencebr/whistleblower/blob/25c4c8932228143e61b0f8eb6a764aeabbaffa7a/whistleblower/targets/twitter.py#L84). Whistleblower maintains a database with `document_id`/`tweet_id`.

[2017-06-23 21:45] cuducos commented on #209
Does this MongoDB has a public accessible IP/domain, @Irio?

[2017-06-26 19:29] #199 closed

[2017-06-27 17:08] turicas opened #211 "Use rows library to convert values"
jarbas could use some library to automatically identify and convert data types (from strings) instead of doing it itself (like on this [serialize](https://github.com/datasciencebr/jarbas/blob/master/jarbas/core/management/commands/companies.py#L66) method). The [rows library](http://turicas.info/rows) does it automatically and will probably remove a lot of jarbas code if used here, so the import m

[2017-06-30 17:42] cuducos commented on #211
I think it's a great idea to use `rows` to better handle data input here in Jarbas!

[2017-07-04 15:27] jtemporal opened #216 "Jarbas must accept federal senate suspicions"
For a while now Rosie is capable of generating suspicions for the Federal Senate. But that suspicions are **not** reflected on Jarbas.

Talking with @cuducos we agree that the following might be a _roadmap_ for the update:

- create a new app called `chamber_of_deputies`
- move `jarbas.core.models` to `jarbas.chamber_of_deputies.models`
- move the `api` to the new `chamber_of_deputies` app
- chang

[2017-07-10 10:29] cuducos opened #217 "Use Celery for background tasks"
Jarbas is starting to have a kind of overhead in terms of background tasks — currently ran manually or via `cronjob`:

- [x] ~~`python manage.py reimbursements`: to load `reimbursements.xz` generated by Rosie~~ #240
- [ ] `python manage.py irregularities`:  to load `suspicions.xz` generated by Rosie
- [ ] `python manage.py receipts`: to check if the expected receipt URL existis
- [ ] `python manag

[2017-07-10 10:31] cuducos opened #218 "Rename: `irregularities` -> `suspicions`"
The command called `irregularities` should be called `suspicions — a more proper name. We have to rename the command and its documentation ; )

[2017-07-12 14:05] fgrehm opened #220 "RFC: Add link to congressperson profile from reimbursement page"
I think this is a quick win that can make it easier for rosie's followers on twitter to reach out to congresspeople as the data there contains most up to date deputies phone number and email

Example:
- https://jarbas.serenatadeamor.org/#/document_id/6155695
- Would link to http://www.camara.leg.br/Internet/Deputado/dep_Detalhe.asp?id=167722 (id == Congressperson ID)

[2017-07-16 21:03] cuducos commented on #61
Even if it's in pt-BR it worth it to bring [this blog post](http://caiocarrara.com.br/carta-aberta-a-rosie-da-serenata.html) in — thanks @cacarrara ; )

![](https://i.imgur.com/S8spoEC.png)

[2017-07-18 13:42] #209 closed

[2017-07-18 14:30] jtemporal opened #221 "Add twitter icon to dashboard"
This is a 💅 + UX/UI matter, would be lovely to have twitter icon or something referring to it as column name in the dashboard.

<img width="158" alt="screen shot 2017-07-18 at 10 37 56 am" src="https://user-images.githubusercontent.com/6595551/28322427-75f54044-6bac-11e7-9957-b93e090c98a2.png">

It would be clearer what the robot icon is for when it shows up ;)

[2017-07-20 20:05] cuducos opened #222 "Import receipts texts (from OCR)"
Adding OCR data (`2017-02-15-receipts-texts.xz`) to `Reimbursement` and adding it to the dashboard would make @tatianasb and @vilapedro lives easier: they could search in receipt text easily (without depending on any tech interface).

A possible roadmap:

1. Add a field to `Reimbursement` model
1. Add a command similar to the one that load suspicions
1. Add this field (and set is as searchable) in

[2017-07-25 01:36] gurgelrenan commented on #58
@cuducos is still possible search by `state`? I tried something like `https://jarbas.serenatadeamor.org/api/reimbursement/?subquota_id=13&state=ce` But didn't work

[2017-07-25 09:10] cuducos commented on #58
No, [`state` is not listed as a filtering field](https://github.com/datasciencebr/jarbas#filtering); but no special reason for that — feel free to implement if you like.

Alternativelly [use the Dashboard](https://jarbas.serenatadeamor.org/dashboard/core/reimbursement/?state=CE&subquota_id=13), it's way better for searching ; )

[2017-07-27 13:48] #218 closed

[2017-07-27 14:09] cuducos commented on #191
In addition currently there are three tasks added to `crontab`:

[code]

[2017-07-28 15:12] gomex commented on #191
Can we schedule some hack{day|night} to work pairing on automate that (using Docker or not)?

[2017-07-28 16:38] jtemporal commented on #191
PLEASE!

[2017-07-28 17:50] lipemorais commented on #191
I would love to colaborate to Jarbas been deployed smoothly. @gomex @jtemporal @cuducos

[2017-07-28 18:07] cuducos commented on #191
I love this idea. @gomex and @lipemorais I _guess_ you might have a more tight schedule than @jtemporal and I. Can you suggest three days and times so we can check our schedules and pick up one?

[2017-07-28 20:14] gomex commented on #191
@cuducos and @jtemporal  can you please add your possible days and time here: http://doodle.com/pt_BR/ we can choose together! :)

[2017-07-28 20:59] jtemporal commented on #222
- [ ] Add a field to Reimbursement model
- [ ] Add a command similar to the one that load suspicions
- [ ] Add this field (and set is as searchable) in the admin/dashboard

[2017-07-29 02:41] lipemorais commented on #191
This is a suggestion. What do you think?
https://doodle.com/poll/iix8n7wxshd3yfac

[2017-07-29 14:18] #222 closed

[2017-07-29 15:02] cuducos opened #226 "Use full text search on Django Admin"
#225 tried to add `receipt_text` as a searchable field in the admin. Unfortunately our production server couldn't handle this (probably crashing, high memory usage and stuff).  I pushed d2c280b as an emergency fix removing `receipt_text` from `search_fields` and throwing away the use case proposed by #222.

Thus we need to **try** [full text search](https://docs.djangoproject.com/en/1.11/ref/contr

[2017-07-29 19:12] luzfcb commented on #226
try put `@` [1] on start of field or override `get_search_results` [2] method.

[code]

[1] https://github.com/django/django/blob/1.11.3/django/contrib/admin/options.py#L897-L898
[2] https://docs.djangoproject.com/en/1.11/ref/contrib/admin/#django.contrib.admin.ModelAdmin.get_search_results

[2017-07-30 17:09] cuducos commented on #226
Thanks @luzfcb (and thanks @henriquebastos who helped me in PVT).

Maybe the `@` works, but exploring the `get_search_results` seems more promising because the text search uses more than one field (`receipt_text`, `congressperson_name`, `supplier` etc.).

[2017-08-01 15:48] lipemorais commented on #191
Looks that we have a winner date and some fall backs. :)
@gomex @jtemporal @cuducos

![image](https://user-images.githubusercontent.com/5021565/28834036-91f298e4-76b7-11e7-9858-9726145ddc7b.png)

[2017-08-02 18:23] cuducos commented on #191
Hell yeah! Scheduled it is — all in?

[2017-08-03 01:29] gomex commented on #191
YES! See you tomorrow!

[2017-08-07 18:59] jtemporal opened #230 "New filter "expenses abroad""
Add a filter on expenses being abroad or not on dashboard.

[2017-08-07 19:00] jtemporal opened #231 "New filter: expense month"
Add a filter on expenses month or not on dashboard.

[2017-08-07 19:03] vmesel commented on #231
What this filter should be able to do?

[2017-08-07 19:19] jtemporal commented on #231
Hi @vmesel is a simple Django Filter so we can find the reimbursements made in any given month.

[2017-08-08 16:18] #230 closed

[2017-08-08 16:18] #231 closed

[2017-08-10 15:34] cuducos commented on #198
Closing in favor of #211

[2017-08-10 15:34] #198 closed

[2017-08-10 15:35] cuducos commented on #211
_[Just pasting From (closed) #198]_

[`rows`](http://turicas.info/rows/) already deals with a lot of common issues related to reading a CSV file and serializing data. With that in mind maybe we ca reduce the LOC to maintain in this project if we use `rows` to deal with:

- [ ] [importing and serializing reimbursement data](https://github.com/datasciencebr/jarbas/blob/master/jarbas/core/management/

[2017-08-10 18:41] luanfonceca opened #233 "Problem loading the Reimbursement fixture"
Hi, yesterday Jessica convinced me to contribute with the Serenata, so i took the Jarbas, as i always worked with Django it should be easier. I just had finished all the installation from the README and now its up and running but without any data. I am not using docker, i installed everything using pip inside a virtualenv with py3.6.

Follow a traceback for the reimbursements fixture
[code]

* Upd

[2017-08-10 21:28] luanfonceca opened #235 "Problem loading the Companies fixture"
I figure out that the problem was in the `Command`, there are some dict calls that uses the `['key']` notation instead of `.get('key')`. Which breaks if there are no keys with that name in the `row` dict.
Beyond that, in the `to_number` and `to_date` methods of `LoadCommand` class, they are not expecting `None` values in the parameters.

Follow a traceback for the companies fixture
[code]

[2017-08-10 22:49] #233 closed

[2017-08-10 23:47] cuducos commented on #235
This was intended. A row from the `csv.DictReader` should **always** have the expected _columns_ — otherwise we'll know something went wrong. Which I think is the case…

Recently we changed the `YYYY-MM-DD-companies.xz` adding columns for company partners and we might have missed the chance to update this script. I cannot check that ATM but the point is: the usa of `['key']` was not by accident ;

[2017-08-11 03:30] luanfonceca commented on #235
Hi @cuducos, I dont have any clue about what rosie should do, so i dig in into the command code. I would love to contribute with jarbas, cause is where i have more know how. But for do that i need to have a working dataset. If you or @jtemporal can send me a working version of a dataset i will be able to contribute more.

[2017-08-11 12:36] cuducos commented on #235
Here we go, freshly brewed yesterday: the [reimbursements](https://www.dropbox.com/s/baror84orxaxt35/2017-08-10-reimbursements.xz?dl=0) and the [suspicious](https://www.dropbox.com/s/hhgig6mi2mcd9j2/2017-08-10-suspicions.xz?dl=0) ; )

---

_Disclaimer: gonna delete these files in a couple of days to free up some space…_

[2017-08-11 12:39] cuducos commented on #235
About the companies dataset:

Just install `serenata-toolbox` and download `2017-05-21-companies-no-geolocation.xz` as described [in example 2](https://github.com/datasciencebr/serenata-toolbox#example-2-using-shortcuts) of its docs ; )

The older companies dataset is `2016-09-03-companies.xz` and can be dowloaded the same way.

[2017-08-11 16:38] luanfonceca commented on #235
Hi @cuducos. I am getting the same error with the new dataset :(

[code]

[2017-08-11 19:59] cuducos commented on #235
So maybe that's the case I described earlier:

In other words: `2017-05-21-companies-no-geolocation.xz`  have a different columns than `016-09-03-companies.xz` and this Jarbas serializer needs to be updated : /

[2017-08-22 19:45] jtemporal commented on #61
Hi @luanfonceca requested some day the files with @tatianasb proposals here are some links:

- [The indd file](https://drive.google.com/file/d/0B2_swlYu9H9PMWNRVnFiWkFKbzg/view?usp=sharing)
- [The pdf file](https://drive.google.com/open?id=0B2_swlYu9H9PNHFpZnlIX0VGYVU)

let me know by any chance you can't access it ;)

[2017-08-25 15:52] cuducos commented on #217
After talking to @davinirjr I'm back to update this issue:

* `python manage.py tweets` is very quick script and can be managed (by now) via `cron` IMHO
* `python manage.py receipts` is slow not because of our infra structure, but because it has to pause from time to time to avoid being blocked by the Chamber of Deputies servers — IMHO there's no problem in keeping that in `cron` too

The problem

[2017-08-25 19:31] davinirjr commented on #217
Keep in mind that as Rosie send data to Jarbas, it will be just data transfer (over the wire), and we can (and should) GZIP it. Rosie doesn't need to (and shoudn't) wait Jarbas commit on database.

We achieve this by implementing worker queue (with Jarbas in front of it for - at least, a thin layer of - security).

I'll love to get some video or audio with you, to explain it in details. @cuducos a

[2017-08-28 23:08] #235 closed

[2017-09-02 19:25] lucaslm opened #243 "Import of sample files fails on windows"
Following the instalation tutorials on README file, when running `manage.py` on windows, for some reason  the python interpreter assumes a wrong encoding. Bellow is the produced output:

    Starting with 1,000 reimbursements
    Processed: 0 lines
    Updated: 0 reimbursements
    Created: 0 reimbursements
    Skip: 0 reimbursements
    Processed: 0 lines
    Updated: 0 reimbursements
    Created

[2017-09-02 22:41] cuducos commented on #243
Closed by #244

[2017-09-02 22:41] #243 closed

[2017-09-04 16:40] sergioestrella commented on #61
Hey @cuducos, here my proposal for the Jabas home page and the new logo for Operação Serenata de Amor. I also would like to suggest, as I talked to you in last Saturday hackathon, to not use internal names publicly, using Operação Serenata de Amor for all user interfaces and communications instead. Names like Jarbas and Rosie should be used internally only, to avoid user confusion and the need to

[2017-09-11 21:56] cuducos commented on #220
Closed by #247

[2017-09-11 21:56] #220 closed

[2017-09-18 21:27] cuducos opened #250 "Add link to receipt in the Jarbas Dashboard list view"
As we have links to Jarbas main view of the receipt, and for Rosie's tweet, we could add an icon so users can jump to the list view (eg home of Jarbas Dashboard) directly to a given receipt PDF.

[2017-09-19 13:50] jtemporal commented on #250
Just to help visualize: it would have a 📄 kind of icon close to Jarbas "J" and the 🤖 in between "Reembolso" and "Nome do Parlamentar":

<img width="311" alt="screen shot 2017-09-19 at 10 44 17 am" src="https://user-images.githubusercontent.com/6595551/30595640-1fc4a2f2-9d28-11e7-9cd0-4fd25a269356.png">

[2017-09-24 05:53] giovanisleite commented on #250
I can do it =))

[2017-09-26 12:52] #250 closed

[2017-09-27 05:18] giovanisleite commented on #221
I like the idea of using other icons plus alt messages to make them intuitive.
Columns name, otherwise, I think that can help identify the icons/urls, but will create a horizontal scroll and probably hide the suspect column =(, so it seems bad.

[2017-09-28 00:49] cuducos opened #253 "New filter reimbursement in the dashboard if they have (or not) a receipt URL"
Implement a new filter in the Dashboard to filter reimbursements that have receipt (as in _Suspicions or not_).

[2017-09-28 03:06] matheushf commented on #253
I can do it :)

[2017-09-28 10:26] jtemporal commented on #221
@giovanisleite maybe she can rethink column naming so we avoid the horizontal scrolling?

@cuducos what do you think?

[2017-09-28 10:28] cuducos commented on #221
I think it won't fit, but feel fry to try ; ) It's just my opinion…

[2017-09-28 12:58] giovanisleite commented on #216
I can help :grimacing:

[2017-09-28 22:00] #226 closed

[2017-09-28 22:48] #200 closed

[2017-09-30 01:23] giovanisleite commented on #221
I was wrong, suspect column is fine haha
![image](https://user-images.githubusercontent.com/11703235/31040578-4d33e84e-a55f-11e7-8239-bcab29c66146.png)
_Pro_: Without checking, I know what that column is about
_Con_: The Subquota column height gets big

"Alt" message (mouse over the J from the first line)
![image](https://user-images.githubusercontent.com/11703235/31040889-28984c10-a563-11e7-88c1-

[2017-10-02 01:28] giovanisleite opened #256 "The 'yes'/'no' dashboard filters"
Hi,

I was looking the pull request #254 (implementing the has_receipt_url filter that is like the suspicions), and now I am confuse about the operation of the filter.

How should these filters work?
e.g. "suspicions"
"All": shows all the reimbursements;
"Yes": Show only reimbursements that are suspect;
"No": Show only reimbursements that aren't suspect. Right?

So... why there isn't a query for t

[2017-10-02 11:22] cuducos commented on #256
That makes a lot of sense… you've found a bug ; )

My only comment would be `self.filer(suspicions=none)` instead of `self.exclude(suspicions__isnull=True)` ; )

[2017-10-02 12:19] giovanisleite commented on #256
:beetle: hahaha

Why? The query seems equal

[2017-10-02 12:56] cuducos commented on #256
They are not equal, they produce equal results.

[code]

[A double negative resolves to a positive](https://en.wikipedia.org/wiki/Double_negative#Two_negatives_resolving_to_a_positive) (_excluding_ what is _not_ `None` is filtering only what is `None`).  But [double negative arguably are confusing](http://www.scienceeditingexperts.com/why-double-negatives-are-so-confusing-in-scientific-writing) —

[2017-10-02 13:11] giovanisleite commented on #256
I was looking for performance problems and checked the sql query
Now I see the problem, Thanks @cuducos

[2017-10-03 01:01] jtemporal opened #258 "Add a Donate button to README"
**What is the problem?**
We don't have a donate button 😱

**How can this be addressed?**
Add a button donate button to the README file

It something like ![donate](https://img.shields.io/badge/donate-apoia.se-EB4A3B.svg) linked with [Serenata's Apoia.se Campaign](https://apoia.se/serenata). I generated that badge with [Shields.io](https://shields.io/).

**Who could help with this issue?**
Anyone r

[2017-10-03 01:02] jtemporal commented on #258
Code for the badge mentioned: `![donate](https://img.shields.io/badge/donate-apoia.se-EB4A3B.svg)`

[2017-10-03 01:16] Ilozuluchris commented on #258
Hello jtemporal,so am guessing the button links to the donate button at https://apoia.se/serenata (the green button on the page).I would like to try this

[2017-10-03 01:38] jtemporal commented on #258
go ahead @Ilozuluchris 😉

[2017-10-03 06:58] ivanzaqqa commented on #258
i want to contribute with this @jtemporal

[2017-10-03 18:04] cuducos commented on #258
Closed by #259 — thanks everybody for the enthusiasm, luckily there's [a lot of other issues](https://github.com/datasciencebr/jarbas/labels/hacktoberfest) around ; )

[2017-10-03 18:04] #258 closed

[2017-10-03 18:25] Ilozuluchris commented on #211
@cuducos,I think I can do this.

[2017-10-03 18:35] cuducos commented on #211
Sounds great @Ilozuluchris — I got started one of these days (check #242), so you can either:

* Cover the scripts I haven't covered yet (if I remember right, suspicions and company importion)
* Continue from where I left opening a PR to my branch
* Throw away my code and do it all by yourself

Third option sounds like exaggerating, but might make sense in one or another scenario. Anyway I strongl

[2017-10-04 14:47] decko commented on #217
@davinirjr Are you working this? If so, I could help on something needed...

[2017-10-05 00:37] davinirjr commented on #217
Nope, @decko.

You can go for it, just align with @cuducos.

[2017-10-06 12:21] #256 closed

[2017-10-06 17:54] annacruz commented on #211
This issue still need to be done?

[2017-10-06 18:00] cuducos commented on #211
Yep… there’s two WIP but still at least one case to be covered: take a look in the discussion and drafts on #242 and #262 and count on me ; )

[2017-10-08 07:22] giovanisleite commented on #216
Following this roadmap,
First PR first (the first five points)
1. Core dies, right?
2. the api urls pass from e.g. `reimbursements/lalalala` to `chamber_of_deputies/reimbursements/lalalala`

These questions sound dumb, but its good be sure about it hahaha

[2017-10-09 10:26] cuducos commented on #216
Hi @giovanisleite,

I don't think so… we still have stuff unrelated to any application (e.g. `chamber_of_deputies` and/or `federal_senate`) that could live in `core`: importing company data, mapping URLs from the root to `whatver_app/urls.py` etc…

That woks pretty well I guess. This way later might add, for example, [we could have amendments](https://github.com/datasciencebr/serenata-de-amor/issu

[2017-10-09 20:43] giovanisleite commented on #216
Oh, sure.

Yes, it seems pretty good.

I don't know the federal_senate structure yet, but I will look into it to do something/ask about his model.

[2017-10-09 20:47] cuducos commented on #216
That'd be awesome but TBH I don't think worrying about it is helpful anyhow to this PR. If we isolate Chamber of Deputies reimbursements logic to dedicated apps, Jarbas would be flexible enough to embrace any structure of data Federal Senate might have ; )

[2017-10-13 06:50] giovanisleite commented on #216
The api will keep accessing company data (core models).

So, the api structure for company, activity and future `stuff unrelated to any application` must be on core? what do you think, @jtemporal  and/or @cuducos? -> jarbas urls maps from root to the core/api, chamber_of_deputies/api or etc..

or keep it on jarbas (the way that it is today) -> jarbas urls maps from root to api/ and api handles wit

[2017-10-13 10:09] cuducos commented on #216
Hi @giovanisleite,

I'm really not sure but I'd try something like:

* `/api/companies/<cnpj>/`
• `/api/chamber_of_deputies/reimbursements/`
• `/api/federal_senate/reimbursements/`

Although this do not have to reflect the app and modules structure. What do you think?

[2017-10-13 13:56] giovanisleite commented on #216
I agree on these urls.
But i'm not sure about the app and modules structure.
Who is responsible for mapping `/api/...`? jarbas.core.api or jarbas.api or just jarbas?
If the first option, jarbas.core.api handles `api/companies` and maps for `/api/whatver_app`. Like in:

If the second, jarbas.api handles `api/companies` or it has no views and maps for jarbas.core.api handles with it?

I agree on "ap

[2017-10-13 14:20] cuducos commented on #216
I'd go for each app (`core` for companies, `chamber_of_deputies`, `federal_senate`) with its own `serializers.py` and the API views in their `views.py`. Then another app `api` that imported from them and actually serves from there. Does it sound like a good idea? TBH this is only in a brainstorm phase and I haven't tested a line yet.

[2017-10-15 14:53] cuducos commented on #253
Closed by #254

[2017-10-15 14:53] #253 closed

[2017-10-17 18:01] cuducos opened #272 "Bring back Elm tests"
This repo has a couple of _quasi_ tests using `elm-verify-examples`. Unfortunately when the old `elm-doc-test` became `elm-verify-examples` our architecture to generate and run Elm tests broke and we simply removed it (5f47f66).

It would be wonderful to have them back running and cleaning up with a single `npm test` command.

[2017-10-18 02:16] annesoares commented on #61
Hey everyone =)

So, I've been wanting to do this for a while but I don't really know Elm to refactor the code and all else. Therefore, I though maybe doing this little by little, so it could be improved and shipped quickier, and I could get better at the code before going to bigger tasks.

What I though was:
- Minor repairs in actual version, to make it more readable and prettier (centralizing te

[2017-10-18 15:07] decko commented on #160
Could NewRelic be substituted by Prometheus and Sentry? Prometheus could generate metrics around access, and Sentry could alert about any exception or problem around...

https://prometheus.io
https://getsentry.io

Sentry have a free plan for just one product using it, but it's a OSS and could be installed anywhere(also have docker images).
Prometheus is also OSS, have docker images but I have no e

[2017-10-18 16:47] pedrommone commented on #160
@Decko NewRelic is kinda like Prometheus, but its not like Sentry.

If you guys want to monitor error logs and stuff, go ahead with Sentry, otherwise, if you guys want to monitor infrastructure and app performance and analytics, go ahead with NewRelic.

Usually, NewRelic and Sentry are a good match, I think you guys can apply for a free-tier (NewRelic).

[2017-10-18 21:08] decko opened #275 "Should every Jarbas' docker container run django migrations every time it starts"
Every time a Jarbas Docker container starts, the user must run the Django migrate command to reflect the models on database. Since it's the nature of docker containers to be disposable, why don't make docker itself run the django migrate command every time this kind of container starts?

It will not add considerable startup time and also take one less command line to make the deployment and develo

[2017-10-19 08:41] cuducos commented on #275
If it work's I'm in ; )

[2017-10-19 08:52] cuducos commented on #61
Many thanks for the message and enthusiasm, @annesoares! I'll comment on some bits from my experience:

We're not Elm slaves here. Elm helped us to deliver something faster one of these days and that's why Jarbas frontend is based in Elm. But nothing impedes us from leaving Elm behind. IMHO we should start any of the new UI focusing on the basics: HTML and CSS (even if using fancy stuff to wrote t

[2017-10-28 10:48] cuducos opened #279 "Add searchvector command to the README.md"
PR #226 added the `python manage.py searchvector` command but so far it is undocumented in the `README.md`. This command generate the search vectors used in any text search done in the dashboard, so it is kind of important. Adding it to the `README.md` together with other commands in Docker and Local Install sections is needed ; )

[2017-10-28 10:54] cuducos commented on #275
I've put more thoughts on that and it came to me something _against_ this idea: as a dev and as a community managers I'm always rolling back migrations and sometimes I don't want my database to be at the most recent migration (I like to keep it aligned with `master`, so if I change to my dev branch, of to a PR's branch I can apply what they've added, and roll back when stepping back into `master`)

[2017-11-08 16:55] decko commented on #275
Yeah, I've been thinking about your point. Don't you use docker-compose? The "command" parameter on YAML file could overwrite the one in Dockerfile. Maybe this could be a solution for production and development environment. Can I setup a branch and you work with it a couple of days?

[2017-11-08 17:01] cuducos commented on #275
Do you mean chaining the migration command [here](https://github.com/datasciencebr/jarbas/blob/master/docker-compose.prod.yml#L15)?

[2017-11-08 18:27] decko commented on #275
I've been running after a solution for this. We don't need to chain it there. We simply could use an extra "command" parameter before the one running gunicorn itself. It will run the migrations before starting the server. But i really want to make easy to first time devs to work on jarbas.

[2017-11-08 18:43] caduvieira opened #286 "When #285 is merged we need to add more Goss tests"
Now the only HEALTHCHECK test in goss is the Welcome page.

We should add more checks like API and searches.

[2017-11-09 00:22] cuducos commented on #286
Testing the API and searches might need database seed (just a friendly reminder).

Something important to be tested is if statics are being properly served: testing some endpoints such as `/static/app.js`, `/static/dashboard.css` and `/static/admin/css/base.css` for example ; )

[2017-11-09 23:45] caduvieira commented on #275
We could create a dockerfile-migrate that is from datasciencebr/jarbas-backend and it just run the migrate command. That way we could have both images available

[2017-11-13 00:23] gushonorato commented on #61
Hello everyone!

I saw Serenata de Amor project on Fantastico last Sunday and since that I've spent some hours exploring the project. I can tell that I'm really impressed and I'm very motivated to help. I've read this issue carefully and I think I have time to embrace this project and put all exposed ideas here together and deliver the new dashboard. @annesoares can I give you a hand? :)

**This i

[2017-11-13 16:02] cuducos commented on #61
Hi @gushonorato! Many thanks for you support and enthusiasm. In general I do support your 1, 2, 3 bullet points, and I'd be really happy to offer suport on this roadmap — it looks a really good way to get started. I just have several concerns when it comes to your _PS_:

IMHO this definitively should not happen anytime soon. Jarbas and the Serenata's institutional site have completely different ro

[2017-11-16 00:30] decko commented on #275
@caduvieira It wouldn't change the way things are. It would need an extra command to make migrations happen. I'm looking forward a way to help dev and production environment either to have less things to care about.

[2017-11-28 03:14] giovanisleite opened #289 "The refactored docker image broke celery?"
Hey folks,

I am having problems to load the sample data

![image](https://user-images.githubusercontent.com/11703235/33300474-ad217b44-d3d7-11e7-9a11-0a9a6edd71da.png)

The #285 introduced a new api to docker and seems that all commands are preceded by `python manage.py`, but that was supposed to happen on tasks too?
Looks like tasks are trying to use the command `celery worker --app jarbas` and

[2017-11-28 12:10] cuducos commented on #289
Hum… I hope it makes sense. The [`ENTRYPOINT`](https://github.com/datasciencebr/jarbas/blob/master/Dockerfile#L35) suggested by @caduvieira might have killed [Celery](https://github.com/datasciencebr/jarbas/blob/master/docker-compose.yml#L28) **and** the [Gunicorn used for the production setup](https://github.com/datasciencebr/jarbas/blob/master/docker-compose.prod.yml#L15).

@anaschwendler and @c

[2017-11-28 12:45] caduvieira commented on #289
I will look into it now

[2017-11-28 12:46] cuducos commented on #289
Many many thanks. I'm online, available fo pairing. Just drop a line if I can be of any help.

[2017-11-28 13:22] #289 closed

[2017-11-28 16:47] anaschwendler commented on #289
Many thanks @caduvieira !

[2017-11-28 20:25] cuducos opened #291 "Use HTTPS in production with Docker"
**What is the problem?**

The way to run Jarbas in production is almost Dockerized the only missing piece is HTTPS. The command `docker-compose -f docker-compose.yml -f docker-compose.prod.yml` works but **doesn't serve through HTTPS**.

Our [manually provisioned and maintained production server](https://github.com/datasciencebr/jarbas/issues/191) which does not use Docker **yet** has HTTPS setup,

[2017-11-29 13:18] cuducos commented on #160
Close by inactivity — but anyone is free to re-open it if needed ; )

[2017-11-29 13:18] #160 closed

[2017-11-30 02:41] fredgcosta commented on #291
cuducus,

Here is what I've made:
First, I created a self-signed certificate using openssl and copied them to a new folder certs
[code]
Then I changed the Dockerfile-nginx to copy the certificates to the docker image:
[code]
After that I recreated the image:
`sudo docker build -f Dockerfile-nginx -t datasciencebr/jarbas-server:latest .`
On docker-compose.yml I changed the ALLOWD_HOSTS like this:
`

[2017-11-30 12:15] cuducos commented on #291
Many thanks, @fredgcosta! Reading your code it seams simple and straightforward. Have you opened a PR with this code? I think this is the best way to allow other people to test your implementation.

One doubts about this strategy (sorry if I'm a noob in `openssl`, I've just used `letsencrypt`/`certbot`): how to renew the certificates using this strategy?

[2017-11-30 16:08] fredgcosta commented on #291
@cuducos I will open a PR. I was just trying to figure out how. I am not allowed to create branches, so I should create it in my fork of jarbas?
Actually, using `openssl` to create a self-signed certificate works but is not a solution for a production environment. Browsers would still complain that the certificate is not trusted. So you definitely need a real certificate signed by a trusted CA.

[2017-11-30 16:48] thiagoarrais commented on #291
@cuducos: I am not familiar with your setup and may be completely off base here. But have you taken a look into serving HTTPS through CloudFlare? You would keep your server serving HTTP and they would proxy HTTPS traffic to it. They have a free offering. But I am almost sure they will want you to use their DNS servers. Don't know if that is practical for Jarbas.

[2017-11-30 17:12] cuducos commented on #291
Great, thanks @fredgcosta – as far as I can see @anaschwendler already helped you with that in the Telegram group, right? Don't hesitate to drop a line if you need further help with that.

Hum… got it. Sorry about my _noob-ness_ on that point. However the idea is to have HTTPS on production, so I think something along the lines of the branch linked in the opening post would work better. Many thank

[2017-11-30 18:57] ltouro commented on #291
Using jwilder/nginx-proxy is pretty straightforward. I'm currently using it in production along with several other containers. Will give a stab and send a PR soon.

[2017-11-30 19:01] cuducos commented on #291
Many thanks, @ltouro! I failed to serve statics using ` jwilder/nginx-proxy` as I mentioned. But I'm sure it's my noob-ness, not a problem with that image! Feel free to jump in in [my branch](https://github.com/datasciencebr/jarbas/tree/cuducos-https-docker) and fix whatever I've got wrong, or start a fresh one to avoid my chicanes – we'd be so glad to get it fixed ; )

[2017-11-30 19:14] ltouro commented on #291
@cuducos is there any significant difference between serving static files on the edge proxy instead on the inner nginx container? Is the concern here with the traffic overhead in the internal network?

[2017-11-30 19:21] cuducos commented on #291
Not at all. The only detail is that the `staticfiles/` dir is a volume that (as far as I can remember) three containers should have access to:

1. `django` and `node` should be able to write
1. `nginx` should be able to read it (serving it to the world)

[2017-11-30 19:28] ltouro commented on #291
@cuducos Great. I think the edge proxy can skip the "serve static content" role then and do only the SSL offload and certificate renewal. The advantage of this aproach is we dont have to manage a custom nginx template file. The default one from nginx-proxy should be just fine.

The CloudFlare approach can help to mitigate internal network traffic overhead, if that turns to be an issue, by caching

[2017-12-05 13:06] cuducos opened #296 "Update do Django 2.0"
**What is the problem?**
Django 2.0 has some incompatibilities with Django 1.11.7 (actual version) and maybe our dependencies also might be broken with we update to 2.0.

**How can this be addressed?**

- [ ] [Wait for `django-simple-history` to be ready for Django 2.0](https://github.com/treyhunner/django-simple-history/pull/320) (tks @giovanisleite)
- [ ] [Update syntax for `urls.py`](https://do

[2017-12-05 19:19] turicas opened #297 "File not found (access denied on S3) on example 2 from README"
**What is the problem?**
Got access denied when executing this code from README:

[code]

**How can this be addressed?**
Upload the file again or make it public.

**Who could help with this issue?**
Who has access to serenata's S3 bucket.

**Labels**
[first-timers-only]  [bug]

[2017-12-05 19:22] turicas commented on #297
THe filename is incorrect: missing 'm'.

[2017-12-05 20:35] turicas opened #298 "Rename .xz to .csv.xz"
**What is the problem?**
When we uncompress a file using the command `xz -d file.xz` the uncompressed file name will be `file`. It'd be good to have the files named `xxx.csv.xz` instead of `xxx.xz` so some software (which depends on file extension) will work properly.

**How can this be addressed?**
1) Replace lines like this (see `serenata_toolbox/chamber_of_deputies/dataset.py`):
[code]
with:

[

[2017-12-05 20:40] turicas commented on #297
Ooops, I've created the issue in the wrong repository. Closing it (correct one: https://github.com/datasciencebr/serenata-toolbox/issues/171).

[2017-12-05 20:40] #297 closed

[2017-12-10 22:09] cuducos commented on #298
Moving it to `serenata-toolbox` repo ; )

[2017-12-10 22:09] #298 closed

[2017-12-11 12:16] cuducos opened #301 "Try lower `random_page_cost` on Postgres"
**What is the problem?**
A bottleneck for Jarbas is Postgres performance. [This article](https://amplitude.engineering/how-a-single-postgresql-config-change-improved-slow-query-performance-by-50x-85593b8991b0) suggests that setting `random_page_cost ` lower works well when using SSD (which is our case).

**How can this be addressed?**
First compare some queries (special the ones from the Jarbas Da

[2017-12-20 13:11] caduvieira commented on #301
Does the performance improved?

[2017-12-20 20:27] cuducos commented on #301
Yep. I just ran simple tests locally and it was slightly quicker — nothing so surprising as in the reference, but worth it ; )

[2017-12-21 11:33] caduvieira commented on #301
There are other recommendations on https://speakerdeck.com/ongres/postgresql-configuration-for-humans

[2018-01-23 19:20] cuducos commented on #301
Closed by #303

[2018-01-23 19:20] #301 closed

[2018-02-20 18:17] cuducos opened #320 "Add New Relic environment variables to README.md"
**What is the problem?**

We introduced more variables for configuring Jarbas in #319, but they were not documented.

**How can this be addressed?**

Add these variables to the docs (so far, `README.md`) in the _Settings_ section.

[2018-02-23 15:39] cuducos commented on #320
Closed by #322

[2018-02-23 15:39] #320 closed

[2018-02-27 20:35] cuducos commented on #291
Closed by #293

[2018-02-27 20:35] #291 closed

[2018-02-27 20:37] cuducos commented on #279
Closed by #281

[2018-02-27 20:37] #279 closed

[2018-02-27 20:39] cuducos commented on #217
Closed - importations doesn't take so long anymore after #316

[2018-02-27 20:39] #217 closed

[2018-02-27 20:40] cuducos commented on #191
Closed by #293

[2018-02-27 20:40] #191 closed

[2018-02-27 20:41] cuducos commented on #275
Closed by inactivity

[2018-02-27 20:41] #275 closed